[2013-12-30 23:03] cdevroe opened #1 "Bookmarklet: iOS 7, iPhone-only: New tab that is created loads "behind" other tabs"
This doesn't seem to happen on iPad running iOS 7 just iPhone.

To replicate:
- Create bookmarklet on iPhone running iOS 7.
- Attempt to save a new bookmark

The tab that gets created loads behind all other tabs.

[2014-01-02 16:09] cdevroe opened #3 "Bookmarklet: Save and Close doesn't close window."
When adding a bookmark the "save and close" button doesn't close the window. It redirects to /home/.

[2014-01-02 16:11] cdevroe opened #4 "Delete Group doesn't throw warning"

[2014-01-02 16:12] cdevroe opened #5 "Bug: Rejecting group invite does not work."
Clicking on "reject" on a Group invitation does nothing.

[2014-01-02 16:14] cdevroe opened #6 "Add basic validation in JavaScript for..."
- Creating an account
- Creating a group
- Sending a group invitation

[2014-01-02 16:14] cdevroe opened #7 "Create better page titles for home, filters, groups, etc."

[2014-01-02 16:17] cdevroe opened #8 "Remove all JavaScript that replaces input text"
Remove the JavaScript that replaces default input information (and use the placeholder attribute) for all of the following:
- login form
- create an account form
- group creation form
- group invite
- search box

[2014-01-02 16:24] cdevroe opened #9 "Figure out a better way to handle $data for all views"
There is a lot of unneeded and crappy code for loading views. Example: https://github.com/cdevroe/nilai/blob/master/application/controllers/nilai.php#L157-L159

Which is: (incase those lines change)

[code]

I'd like to figure out a way to ditch the need for all of these in some way. Perhaps by using `isset($var)` inside of all of the views to stop errors from happening?

Other ideas?

[2014-01-02 16:34] cdevroe opened #10 "SQL issue: Selecting bookmarks without "is null" added to SQL doesn't return any bookmarks"
Found by @cfehnel.

[2014-01-02 16:52] #3 closed, assigned to cdevroe

[2014-01-02 17:19] cdevroe opened #11 "Full bookmark export"
What formats should be supported?
- XML
- OPML
- Export to Pinboard?

[2014-01-02 17:23] cdevroe opened #12 "Readme updates"
Readme needs to be updated to include
- link to submit issues
- a workflow to show how to contribute to nilai

[2014-01-02 18:34] cdevroe opened #13 "Store date archived"
Store the date archived so that stats can be tallied. Stats, such as: "You marked 5 links today and archived 3."

[] Create migration.
[] Update Marks model for saving date when setting a mark as archived.
[] Update Marks model to include basic statistics methods.
[] Update view to show number of marked/archived for the day as proof-of-concept

[2014-01-02 21:03] #5 closed, assigned to cdevroe

[2014-01-02 21:03] #8 closed, assigned to cdevroe

[2014-01-02 21:06] #13 closed, assigned to cdevroe

[2014-01-02 21:15] #12 closed, assigned to nobody

[2014-01-06 17:59] #7 closed, assigned to nobody

[2014-01-06 18:01] #11 closed, assigned to nobody

[2014-01-07 19:26] maxsteenbergen opened #14 "Setting SQLite fails to load page"
There seems to be an issue with SQLite support. I tried installing with SQLite because I didn't feel like installing MySQL and SQLite comes with OSX, yet I failed to get even an error screen.

Setting `$db['default']['dbdriver'] = 'mysql';` on line 65 of database.php shows this screen:
![screen shot 2014-01-07 at 20 20 03](https://f.cloud.github.com/assets/574278/1862403/dd53f3c6-77d0-11e3-871c-44

[2014-01-10 17:20] #10 closed, assigned to nobody

[2014-01-15 15:25] ScottSmith95 opened #15 "Sign up doesn't give helpful error messages"
I tried entering a simple password with no caps on sign up and I was sent to a page with only the text "Please enter a valid email and password" or something along those lines. If you require a more complex password, the sign in page should mention this requirement and then the error message could be improved to "Please enter a password with a capital letter and a number," or so on. Also, it would

[2014-01-27 20:21] #4 closed, assigned to nobody

[2014-01-27 20:21] #6 closed, assigned to nobody

[2014-01-27 20:21] #9 closed, assigned to nobody

[2014-01-27 20:21] #14 closed, assigned to nobody

[2014-01-27 20:21] #15 closed, assigned to nobody

[2014-02-23 03:00] nitinthewiz opened #16 "Release 0.5 install.php redirects to register/index.php instead of register.php"
I am trying to install nilai/unmark on a shared web host (much cheaper than running a VPS) and I'm running into a problem. It seems that the /register view keeps redirecting to register/index.php and I can't understand how to fix that. The corresponding code in the register.php file is

$this->view('register/index');

Nowhere in the CodeIgniter docs can I find out what that means or how to rectify

[2014-02-25 19:51] #16 closed, assigned to nobody

[2014-02-28 16:47] nitinthewiz opened #17 "Release 0.5.1 bookmarklet change Note Default text to placeholder"
Hi,

I was able to install 0.5.1 on my shared host and have been using it.

One issue - In the Bookmarklet, there's a section to Add a Note. When you click on that button (Why is it a button and not a text field instead?), you get a text field to enter your note. The text inside the text field says "Type note text here...". This text should be a placeholder and not actual text, as this adds an ext

[2014-02-28 16:49] nitinthewiz opened #18 "Release 0.5.1 bookmarklet logged error"
Hi,

While trying to bookmark a tab that had a PDF open in it, the bookmarklet said that there had been an error and that it had been logged.

Is there something I can do to submit the error to you guys or does the app automatically contact your servers about the issue? Where would the log files for such an error be?

The error appeared for a couple more tries on the same page and then disappeared

[2014-02-28 17:00] #18 closed, assigned to nobody

[2014-02-28 17:00] #17 closed, assigned to nobody

[2014-03-06 19:41] tigramlich opened #19 "installation fails: table not an innodb format"
following the steps https://github.com/plainmade/unmark#installation

The setup fails with the page "AN UNEXPECTED ERROR HAS OCCURED"

Checking my DB I find one table created called "migrations"  (with my prefix = "unmark_" set the table name is "unmark_migrations")

Looking next into the log file (\application\logs)  I am getting this hint

ERROR - 2014-03-06 19:49:56 --> Table `unmark_migrations

[2014-03-07 08:23] fucx opened #20 "Importing Pinboard bookmark JSON file fails silently"
I just set up unmark on my web host. Everything seems to be working nicely, but importing my bookmarks from Pinboard fails silently. I have exported my 11.344 bookmarks which resulted in a JSON file of about 9 MB. When I selected that file in the import view, the file uploads and I'm redirected back to an empty view: http://d.pr/i/Y1L6

Please let me know if you need any additional information.

[2014-03-07 17:58] nitinthewiz opened #21 "Untitled PDF tabs not getting saved"
Google Chrome offers to open PDF files in a new tab for you using their own PDF implementation. Upon trying to save the tab, Unmark says that the link is saved but it doesn't actually appear in the stream.

Two things -
1. The above bug and
2. Editing of titles needs to be allowed.

The PDF in question - http://arxiv.org/pdf/1402.0412v2.pdf

[2014-03-08 18:06] MichaelArestad opened #22 "Warning: file_exists() [function.file-exists]: open_basedir restriction in effect"
I'm having troubles with the installation. I tried setting the path for open_basedir, but had no success. Thoughts?

[code]

[2014-03-09 00:06] see8ch opened #23 "Sign In/Register Errors -- Self Hosted"
Unable to sign in with existing unmark.it account or register a new account (self-hosted and local).

Register page displays error (only on hosted version - local version doesn't not display error message) https://cloudup.com/cIe05zqpEo9

When trying to register new account, error message is empty https://cloudup.com/cI0agfRLxvp

links.see8ch.com

[2014-03-10 10:33] theodormachnich opened #24 "Subfolder Hosting - selfhostet"
Hi,

I tried to install this great tool in a subfolder on my hosting server, but god then errors and the installation worked only, when I install direkt under /www
Is there a howto wich explains the installation in this way?
Also to assign all links, mailadresses for password reset etc... to the own server.
I will be also helpfuel for selfhostet Projects to have a admin account to assign then othe

[2014-03-10 10:43] theodormachnich opened #25 "Synchronisation android App Feature Request"
In the android market I found new app to organice notes.
https://play.google.com/store/apps/details?id=it.feio.android.omninotes
I think this will be a good combination for unmark to host the bookmarks in a app on android.
Thinking also, that unmark can be a great backend for this project, to have the notes and bookmarks on one place syncronised on a (my own) server, look like evernote or so.
What

[2014-03-10 20:41] tristan-k opened #26 "install instructions (selfhosted)"
I'm having troubles setting up unmark on my webspace. What is meant by:

`Navigate to /setup`

I found /application/views/setup.php, but accessing the file via the browser results in 403 Forbidden Error. Even tough I changed the permissions to 755. I followed the other instructions and configured a mysql database properly.

The Path to my unmark instance is `domain.com/unmark/`. I configured a sub

[2014-03-12 14:32] #1 closed, assigned to nobody

[2014-03-12 14:32] #19 closed, assigned to nobody

[2014-03-12 14:48] #22 closed, assigned to nobody

[2014-03-12 14:52] #24 closed, assigned to nobody

[2014-03-12 14:53] #25 closed, assigned to nobody

[2014-03-12 14:55] #26 closed, assigned to nobody

[2014-03-13 17:26] sudoer opened #27 "initial migration, timestamp and 32-bit machine"
I tried to install unmark on a Linode VM to try it out, and I had a lot of trouble getting the initial migration scripts to run.  Every time, it came back with "Migrating to version 20140228091723 failed." with a little red Band Aid X.

I have never used Code Igniter before, but it seemed fairly easy to debug.

I sprinkled some log statements through the code, and I found that in Plain_Migration.p

[2014-03-13 20:00] tristan-k opened #28 "add link manual"
Please add a mask to add links manually via the main unmark site This can be helpful when you are on a public computer.

[2014-03-13 21:03] #27 closed, assigned to nobody

[2014-03-15 09:38] theodormachnich opened #29 "Admin tool for self hostet projekt"
Hi can you add a administration tool,
that we can adminsitrate, creat, delet etc... users from whithin a admin account.
This will be great.

Thanks theo

[2014-03-17 14:01] #29 closed, assigned to nobody

[2014-03-17 14:04] #20 closed, assigned to nobody

[2014-03-18 12:56] Tek42 opened #30 "/setup missing ?"
Hey guys. I just found out about this project and I cloned your repo to test it out. I seem to be missing the /setup directory. I checked your master and it does not seem to have it nor do the zips. Am I missing something ?

[2014-03-18 13:06] #30 closed, assigned to nobody

[2014-03-18 20:19] Tek42 opened #31 "setup/install - Eek, something is wrong."
OK, so I've read previous Issues that you've closed regarding this but I figured I would give it a shot.

I initially installed unmark in a subfolder which I understand is not how you recommend it to be set up. So I set up a subdomain and put the files in the root folder for the subdomain. I am an experienced Apache admin so I'm pretty sure I have it all configured  correctly. When I visit my subd

[2014-03-19 12:18] jbleuzen opened #32 "Missing .htaccess in release 1.2.3"
I had to manually create the htaccess so that I can reach /setup page

EDIT : Hidden files was not copied, but htaccess was there. Sorry...

[2014-03-19 20:18] #32 closed, assigned to nobody

[2014-03-20 17:49] #31 closed, assigned to nobody

[2014-03-21 17:01] RichardHyde opened #33 "Setup 404"
Hi,

I'm hitting a wall installing unmark on my web-server. Trying to open /setup gives me a 404. /index.php and /index.php?/setup both give me a formatted page with "AN UNEXPECTED ERROR HAS OCCURED" message.

I'm guessing the mod_rewrite isn't working but can't figure out why. Any ideas?

[2014-03-22 14:08] ghost opened #34 "Import bookmarks from Chrome / self-hosted"
Hi, just setup my unmark self-hosted domain. Easy as pie!

Now, I'm trying to import all my Chrome bookmarks. I've read everywhere online that the 'bokmarks' file located (WIN7) in _User_\AppData\Local\Google\Chrome\User Data\Default was indeed a JSON file, which is cool seeing it's the type of file needed to import my stuff to Unmark.

Tough when trying to import this one, I'm always getting this

[2014-03-23 02:45] gr0undzer0 opened #35 "Unmark+ Navigates away from page I am currently browsing."
Setup:
Linux
i3 tiling window manager
firefox nightly
Unmark+ added as bookmarklet

Action:
navigate to a page you want to bookmark.
click Unamark+

Effect:
1.Current browser tab is directed to :
<code>jjavascript:(function(){l%3D"http://unmark.it%2Fmark%2Fadd%3Furl%3D"%2BencodeURIComponent(window.location.href)%2B"%26title%3D"%2BencodeURIComponent(document.title)%2B"%26v%3D1%26nowindow%3Dyes%26"%

[2014-03-24 10:07] #33 closed, assigned to nobody

[2014-03-25 15:03] #35 closed, assigned to nobody

[2014-03-25 15:06] #34 closed, assigned to nobody

[2014-03-26 13:41] #23 closed, assigned to nobody

[2014-03-28 14:17] jsit opened #36 "Setup creates empty table 'migrations', then fails with 500 error "Eek, something is wrong""
Unmark appears to have proper access to my empty database, as it creates a table called 'migrations' after visiting /install, but the table has no rows in it, and I get a 500 error at the /install page and the message "An unexpected error has occurred." The CSS is loading so it looks like the site is set up correctly.

[2014-04-02 20:23] cdevroe opened #37 "Testing"
- [ ] Item one
- [ ] Item two

[2014-04-03 13:59] #37 closed, assigned to nobody

[2014-04-03 13:59] #36 closed, assigned to nobody

[2014-04-03 14:04] cdevroe opened #38 "Language support"
We've recently pushed an update to Unmark that allows for internationalization (i8n). So if you're running anything newer than 1.4.0 you can begin translating Unmark into your language.

We've [written up some basic instructions on how to do this](https://github.com/plainmade/unmark/wiki/Internationalization) and we'd love some help translating Unmark into the following languages:
- [x] English
-

[2014-04-03 22:02] dfct opened #39 "Issues going through db setup on ClearDB"
Hello,

Using the latest 1.5 release, I get the following error after launching off from /setup:

Error Number: 1452

Cannot add or update a child row: a foreign key constraint fails (`unmarkdb`.`labels`, CONSTRAINT `FK_label_smart_label_id` FOREIGN KEY (`smart_label_id`) REFERENCES `labels` (`label_id`) ON DELETE CASCADE ON UPDATE CASCADE)

INSERT INTO `labels` (`smart_label_id`, `domain`, `smart

[2014-04-04 09:05] zedascouves opened #41 "Bookmarklet should not be loaded in main window"
Whenever I use the bookmarklet to save a link, the bookmarklet opens a new window (which is fine), but it also loads the following in the main window, replacing the URL I'm saving:

`javascript:(function(){l%3D"http://unmark.[mySite.com]%2Fmark%2Fadd%3Furl%3D"%2BencodeURIComponent(window.location.href)%2B"%26title%3D"%2BencodeURIComponent(document.title)%2B"%26v%3D1%26nowindow%3Dyes%26"%3Bvar e%3D

[2014-04-04 13:22] #41 closed, assigned to nobody

[2014-04-07 19:11] nitinthewiz opened #42 "bookmarklet design"
Two points regarding the self-hosted version. Not sure if same behavior in hosted version. -
1. The tags (to read/to watch/to buy) keep changing position when the bookmark is called upon. This is somewhat irritating. Consistency is better.
2. The save button comes after the 'Delete Link' button. This means that a keyboard power user will have to press tab twice to get to the 'Update & Close' butto

[2014-04-18 09:58] hewigovens opened #43 "unmark-1.5.2 installation /setup returns 500"
Hi, I'm trying to install unmark-1.5.2 on my vps(debain 7.0).

Steps to reproduce
1. download and unzip unmark 1.5.2
2. install mysql and create database
3. update application/config/database.php
4. php -S xxx:8000 (in ~/workspace/unmark-1.5.2)
5. navigate to xxx:8000/setup
6. returns 500

Am I missing something? Thanks

[2014-04-19 11:24] #43 closed, assigned to nobody

[2014-05-02 07:54] nicosomb opened #44 "Integrate unmark into wallabag"
Hi,

Well done for your project. It looks nice.
I'm the main developer of wallabag https://github.com/wallabag/wallabag a read it later open source app.
@tristan-k asked us to integrate your project into wallabag. https://github.com/wallabag/wallabag/issues/668

Where can I find some documentation to do that?

Thank you.

[2014-05-09 15:00] ZicklePop opened #45 "Import from Other?"
The Unmark help page says you can [import bookmarks](http://help.unmark.it/import-export) from Pinboard and other services, but the self-hosted version from here on GitHub does not seem to have an `Import from Other` feature.

[2014-05-19 21:34] #45 closed, assigned to nobody

[2014-05-21 02:00] stanwarri opened #46 "Language locale error on Windows Machine"
I'm trying to setup the app on my local machine using a virtual domain. I got a blank screen and logging at the error log I saw this

[code]

How do I proceed from here. Has anybody experienced such

[2014-05-21 17:39] nathan-sain opened #47 "Add archive search UI elements"
I'm using the latest master branch code, so if archive search is in the staging branch you can disregard this issue.

I didn't see any way to search the archive other than manually appending the /marks/archive/search path to the end of the site URL. We need a search box in the archive. Additionally a link to search the archive with the current search terms from the main search results would also b

[2014-05-27 02:42] EHLOVader opened #48 "PostgreSQL Support"
I am having issues with the installation. Specifically the migrations and postgre. Although the config lists support for postgre, there have been some choices made that prevent its use.

In migrations the checks for innoDB fail, the quoted identifier syntaxes on all migrations fail.

I can't immediately see how these could be patched sensibly to work with postgre, but wanted to ask if it is possib

[2014-06-15 20:07] simonschaufi opened #49 "Github links cannot be added"
Github links like https://github.com/plainmade/unmark cannot be added with the booklet

[2014-06-15 20:24] simonschaufi opened #50 "give the user the ability to add more labels with color"
i want to add a label like "play" or "download" which is not possible via the UI

[2014-06-15 20:30] simonschaufi opened #51 "remove automatically utm_* google analytics parameter from url"
lots of links have campaing tracking parameters in the url which should not be stored in the database (and also make the link very long). I know this can be very tricky but i think it's possible ;)

found this ruby example: http://stackoverflow.com/questions/12822347/how-can-i-remove-google-tracking-parameters-utm-from-an-url
and this javascript example: https://gist.github.com/paulirish/626834
ma

[2014-06-16 00:06] simonschaufi opened #52 "add ability to change website title"
some website have really bad titles, make it possible when adding and editing to change the title (with inline editing)

[2014-06-19 12:33] simonschaufi opened #55 "Feature Request: Autocomplete for tags"
While adding a new bookmark it would be very helpful to see and use already used tags. As a suggestion for ui component i wish to see something like that:

http://www.uicorner.com/multiple-selection-combobox-for-bootstrap-themes/

[2014-07-22 16:45] szmarci opened #56 "/setup error "Unable to select database""
I'm trying to setup unmark on my localhost machine, but for some reason it is not working.
I create the database, I fill out the data in `database.php` but I keep getting this:
AN UNEXPECTED ERROR HAS OCCURED The issue has been logged and will be taken care of shortly.

I checked the logs, it is full of this:
ERROR - 2014-07-22 16:35:59 --> Unable to select database: bookmark
(bookmark is the name

[2014-07-30 06:04] jayarathina opened #57 "/setup redirects to root"
I am trying to install unmark in my local system.

I have the files extracted to .../xampp/htdocs/c

I have modified /application/config/database.php as

[code]

(unmark is the db name. It does exist)

When i try to access http://localhost/c/setup it is redirecting to http://localhost/xampp/

The log file is empty. :worried:

What am I doing wrong? Please help.

(p.s: May be solution for issue[htt

[2014-07-31 13:32] #57 closed, assigned to nobody

[2014-08-02 14:51] TobMax opened #58 "log in issue in unmark"
Hello,

when I install unmark on my server, than you can't log in to unmark.
It load and than it display every time the loginscreen.

I hope for help!

[2014-08-23 19:31] Zoruto opened #59 "Installation error"
Hi, I tried to install local and server side, using subdomain and main domain to, but I always get blank page on /setup (database exist and I'm trying with the root user) the only log I get:

DEBUG - 2014-08-23 19:25:59 --> Config Class Initialized
DEBUG - 2014-08-23 19:25:59 --> Plain_Config Class Initialized
DEBUG - 2014-08-23 19:25:59 --> Hooks Class Initialized
DEBUG - 2014-08-23 19:25:59 -->

[2014-08-23 20:07] #59 closed, assigned to nobody

[2014-08-26 15:26] jsit opened #60 "Auto-close bookmarklet doesn't work in Firefox"
When I try to use the auto-close bookmarklet in Firefox, a pop-up window appears with the standard add to Unmark dialog, and the existing tab in Firefox is rewritten with just the word "false" in it. The link isn't saved and the pop-up window doesn't close.

[2014-09-14 20:36] captureperspective opened #61 "Selfhosted install issue Parse error: syntax error, unexpected T_CONST in .... /index.php on line 40"
I am trying to install Umark,

When trying to access /setup I am getting my hostings standard site not found page.

I then try /index.php and receive the following error
"Parse error: syntax error, unexpected T_CONST in ..._bookmark/index.php on line 40"

Line 40 is "const UNMARK_ENV_CONFIG_GLOBAL = '/etc/unmark/environment.php';"

If any one can help me with this error I would appreciate it, my k

[2014-09-22 18:03] #61 closed, assigned to nobody

[2014-09-22 18:16] #42 closed, assigned to nobody

[2014-09-22 18:17] #46 closed, assigned to nobody

[2014-09-22 18:24] #49 closed, assigned to cdevroe

[2014-09-22 18:26] #39 closed, assigned to nobody

[2014-09-25 13:27] #60 closed, assigned to cdevroe

[2014-09-29 09:11] nicogee opened #62 "dbprefix issue"
Hi,
when I enter a dbprefix in the database.php I get an error. When I look into my database, the tables are created without the prefix. In the logfile it says, it can't find the tables with prefix.

It works without the dbprefix.

[2014-09-29 17:34] #21 closed, assigned to cdevroe

[2014-09-29 17:34] #47 closed, assigned to cdevroe

[2014-09-29 17:34] #48 closed, assigned to cdevroe

[2014-10-13 09:41] Kasparov51 opened #63 "Query error: Table 'xxx.unmark_users_marks' doesn't exist"
Hello,

I'm trying to install Unmark on my website.

On clicking on "Install Unmark", I get "An unexpected error has occured", and the subjet title in the error log.

I have 8 tables created :
groups
groups_invites
marks
unmark_migrations
users
users_groups
users_marks
users_smartlabels

Any ideas what's wrong ?

(I've downloaded the zip from the home page)

Thank you.

[2014-10-14 11:40] Kasparov51 opened #64 "Account creation & login"
Hello,

I'm still trying to get unmark working on my website :)

Since my last issue I managed to make unmark to get installed properly (well I think so).
On the account creation screen, I always have an "Unexpected error", and the error log tells :
ERROR - 2014-10-14 13:22:21 --> Query error: (yes, nothing here)

Whatever the passwords, I always have the red block saying the two passwords don't m

[2014-10-14 11:52] #63 closed, assigned to nobody

[2014-10-23 13:40] cdevroe opened #65 "Tag search extends to archive"
Similar to #47: I'd like to have the tag searches extend into the archive as well.

[2014-11-10 11:33] zedascouves opened #66 "Which latest version, 1.5.2 or 1.5.5?"
Hi,
I've noticed that the latest version is set as 1.5.2, but there are also two new releases. I'd like to know which one should be used in "production".
Thanks!

[2014-11-13 18:46] #66 closed, assigned to nobody

[2014-11-15 04:42] rpdillon opened #67 "Support for disabling registrations?"
On a private server, I don't see a way to disable registrations after all intended users have been added.  I looked through the wiki and code a bit, and even tried disabling the routes for registration, but hostname.tld/register still presents a form for new users to register.

Is there a setting I'm missing?

[2014-11-18 22:18] Kasparov51 opened #68 "Labels not working ?"
Hello, it's me again :)

Now that I can play with the app, I encounter another problem : the labels are not working.

In other words, when I try to open the slide down menu with the labels (well, I assume it's a slide down menu, as it's not working...), I have the label currently set, then a blank line, then nothing else. So with a new mark, I have only the "Unlabeled" Label, and a blank line, and

[2014-11-24 22:42] cdevroe opened #69 "Gruntfile is looking for custom..."
The Gruntfile is looking for the custom directory even when there isn't one. The gruntfile should be updated to run only the default OS project and then add a task for "production" if needed.

[2014-11-24 23:22] #44 closed, assigned to nobody

[2014-11-24 23:25] cdevroe opened #70 "Customize label colors"
Related to #50.

We should tackle this first, then allow people to add their own labels and colors (#50).

Short spec: A settings panel that would allow a user to customize the color of the already existing Unmark labels.

[2014-11-26 10:58] cybrwushl93 opened #71 "could not register a user after setup"
When I setup unmark, all tables were created, but I'm not able to register my user.
The only response was a red bar under the form with no text in it.
The log files were empty, even after setting error_reporting to E_ALL ...
I used finally the milestone-1.6 branch.

[2014-11-28 05:26] davidtsong opened #72 "Nginx Support"
Can you guys add nginx support? Just need to add nginx configs instead of the htaccess files.

[2014-12-02 16:14] #51 closed, assigned to nobody

[2014-12-02 16:14] #62 closed, assigned to nobody

[2014-12-02 16:14] #65 closed, assigned to cdevroe

[2014-12-02 16:14] #69 closed, assigned to cdevroe

[2014-12-02 16:54] #58 closed, assigned to cdevroe

[2014-12-02 16:54] #52 closed, assigned to cdevroe

[2014-12-02 19:11] #72 closed, assigned to nobody

[2014-12-03 02:54] Jariell opened #73 "'No utm_found.' on save through bookmarklet - error - blank screen"
I receive the following blank window with the text 'No utm_found.' on saving a bookmark through use of the bookmarklet for unmarkit. Note... the first time I save a bookmark, I can login and save the first bookmark. It is on trying to save subsequent bookmarks that I get the 'No utm found' error.

I am hosting unmarkit from my webhost - shared hosting.

It is saving the bookmark, though - successf

[2014-12-03 16:28] #73 closed, assigned to cdevroe

[2014-12-22 13:28] su opened #75 "Remove info.php"
Leaving a phpinfo() file lying around in a known location is a potential security issue.

[2014-12-22 13:38] su opened #76 "Make db error messages explicit"
There's a file at `application/errors/error_db.php` intended for calling out database errors to the user, which currently contains a hard-coded generic "unexpected error" message.

This should at the very least indicate the *type* of error if it remains hard-coded, though ideally would return the actual error involved, such as gets written to the log when the application can't connect to the datab

[2014-12-22 15:27] su opened #77 "What's the purpose of the if/else in database.php?"
There are several people who have, or had, problems doing self-installs, many of which seem to involve not realizing they aren't connecting to their database(see #76 ) That's also how I ended up here, for that matter.

I spent some time earlier creating a db user over and over with different host values to figure out why that was and found some things out, but the more I looked at it, the more it

[2014-12-25 16:27] vasko opened #78 "Bookmarklet isn't created using the port number I used for my install"
I was able to get it to work by manually editing the bookmarklet with the addition of ":##" to the url.

Would the port number be something that can be automatically found and added to the bookmarklet code?

[2015-01-01 14:41] cdevroe commented on #77
@su You're right. This is probably superfluous and could easily confuse someone that is new to PHP or database setups. We had this logic simply to allow both for local development and pushing to a remote server. However, I'm guessing that in most cases people that use Unmark locally aren't deploying it anywhere.

This logic could be removed from the sample file. No doubt.

[2015-01-01 16:00] Darice commented on #31
New year and reorganizing bookmarks I decided to give unmark another try. Clean install, clean database. Same error as above. After digging around I found the problems and fix.

First:  I had to chmod application/logs/  to 777.  It was set by default to 755   After that error log started being generated.

Second: On /setup tables are created but only one with the asigned prefix. Hence the error wh

[2015-01-01 16:27] cdevroe commented on #31
@Darice Thanks for sharing your findings. We'll make some adjustments so that others do not encounter the same issues.

[2015-01-05 11:41] githubtobi opened #79 "Can't Login after setup 1st User"
I installed unmark under bookmark.domain.tld, did the /setup routine and added the first user.

The user was creasted successful ("You are now registered, logging you in..."

But login is not possible, loading-icon appears and after a few seconds redirect to the login-screen.

There's also an error message when I want to do the forgot-password-function: "Email not recognized". In the DB I can see

[2015-01-05 15:21] cdevroe commented on #79
@githubtobi See if this is related https://github.com/plainmade/unmark/issues/31#issuecomment-68490138

[2015-01-08 23:07] iampariah opened #80 "/setup Error... There isn't a setup"
I'm trying to install Unmark on my test server, and I've followed the installation instructions right down to "Point your browser to your-unmark-url/setup" . There isn't a setup file in the root of releases 1.6 or 1.6.1. The only setup is application/views/setup.php, but trying to execute that gives me a 503 forbidden error. What am I doing wrong?

[2015-01-09 16:40] cdevroe commented on #80
@iampariah What is your level of expertise with CodeIgniter applications?

[2015-01-09 16:42] iampariah commented on #80
Complete novice--never used Codeigniter. I had thought Unmark was a simple PHP/MySQL install. Am I out of my depth?

I want to host my own Unmark because I've had too many Web services I rely on go belly up or change features I find crucial (Diigo, Delicious, Digg, StumbleUpon, etc.).

[2015-01-09 16:54] cdevroe commented on #80
This is precisely why we open sourced Unmark from the beginning. And it is OK that you're a novice, I just figured I'd ask.

/setup isn't a folder you'd see included with the application. You'll notice in /application/config/routes.php that many routes have been specified so that specific URL structures run specific controllers/methods. In /setup - you can see that it runs the method "setup" insid

[2015-01-09 22:50] iampariah commented on #80
Thanks for your patience, Colin.

When I visit http://[mydomain]/unmark/ the error I get is /application/errors/error_db.php (I change the title to differentiate it from error_general.php to be sure). So, I'm getting a db connection problem, right? How do I fix this?

I have an empty MySQL 5.1 db with a working user account (can log in via PHPMyAdmin). In application/config/database.php I have the

[2015-01-12 15:07] w00kie opened #81 "preview function on self hosted unmark"
Hello,

I just installed Unmark on my server. I see some files detailing crontabs related to embeds but no info in the install manual. I signed up to http://embed.ly and put my API key in `application/config/all/app.php` but I sill see no preview for my marks.

Is that feature only active in the hosted version?

Keep up the good work,
Regards,
Francois

[2015-01-12 18:37] bitsandnumbers opened #82 "[SOLVED] An unexpected error has occured after clicking install"
Hi,

I'm trying to setup unmark on my freebsd server.

So I followed all the dependency requirements, configured the database.php file (both sections have the same credentials) and made sure that all permissions were ok. I checked my mysql setup, and have a user registered both on localhost and 127.0.0.1, with all privileges granted to the unmark database.

When I click on the install button, I ge

[2015-01-12 19:42] bitsandnumbers commented on #82
SOLUTION:
Never mind. So my issue was that my mysql setup was using mysqli, so I had to change the dbdriver and install php-mysqli extension. Now it works :-)

[2015-01-12 20:32] cdevroe commented on #82
@bitsandnumbers Glad you found your issue and thanks for taking the time to report it.

[2015-01-12 20:32] #82 closed

[2015-01-12 20:43] w00kie commented on #81
Alright, turns out I was expecting *any* link to have a preview, but it's only stuff like youtube, instagram and a limited list of such websites. Any reason for that? Since embed.ly looks like it can process pretty much any link...

For other people looking for the cron, it seems you must run `php index.php cron processEmbeds`

[2015-01-12 20:51] cdevroe commented on #81
@w00kie We like to be selective with this feature. We think it adds value in many circumstances, but takes away in others. Feel free to modify your copy to process every URL.

[2015-01-12 22:09] w00kie commented on #81
Thanks for the reply @cdevroe. I've edited `application/helpers/oembed_helper.php` to process all pages and save at least the description to the preview. Now one feature that would be nice would be to use the description also for the search.

[2015-01-12 23:42] iampariah commented on #80
I've tried a number of different configurations on this with no luck.

[2015-01-13 20:18] leirags commented on #80
I found some fixes, the codeigniter was not able to find the correct URL, then
edit application/config.php and set
The templates was designed to be the root of web page,
and in my case thas was not correct,
then fixit deleting the back slash caharacter from templates if tyou see "/assets/..." leave "assets/"
and that make to work.
Before install was necesary créate a Database in mysql, and set as

[2015-01-13 21:12] iampariah commented on #80
I don't quite understand. I should remove the leading "/" from all the addresses in application/config.php?

[2015-01-13 21:57] leirags commented on #80
After a few hours dont work at all

Enviado desde mi iPhone

[2015-01-15 00:08] iampariah commented on #80
I will gladly pay for a yearly sub to Unmark if I can just get this self-hosted version working.

[2015-01-15 01:13] nitinthewiz opened #83 "Upgrade issue: Direct upgrade from 1.5.2 to 1.6.1 breaks things."
Hi, I tried to upgrade today on my personal setup from 1.5.2 to 1.6.1 and the generic "Eek something wrong" error came.

While browsing other issues, I discovered the logs sitting under /application/logs (you should include this in the debug steps in the ReadMe...

In there, I discovered the following -

So, I looked for 'users_to_marks.mark_title' in the code using GitHub's trusty code search and

[2015-01-15 21:25] heubergen commented on #80
Have here the same problem, my details:
apache 2.4.10
mySQL 5.5.40
Debian 8
my database details:
<pre><code>if ($_SERVER['HTTP_HOST'] == 'localhost') { // If local, load this
  	$db['default']['hostname'] = 'localhost';
  	$db['default']['username'] = 'root';
  	$db['default']['password'] = '*5al]sTeDCIi';
  	$db['default']['database'] = 'unmark';

} else { // If not local, load this
  	$db['defau

[2015-01-16 13:53] lunow commented on #50
+1

[2015-01-16 18:57] iampariah commented on #80
{sigh} Rackspace cited some kind of security issue with MySQL 5.5 and their Cloud Site systems. They're "evaluating" 5.6. In the meantime, I paid for a year of hosted Unmark.it.

[2015-01-16 18:57] #80 closed

[2015-01-16 19:13] heubergen commented on #80
Please reopen, the bug still exist!

[2015-01-16 19:15] heubergen opened #84 "/setup Error... Not Found"
When I try to configure unmark on my root server I can't access the first setup.
I just become a "404 Not Found" error and can't use the application.

Here my details:
apache 2.4.10
mySQL 5.5.40
Debian 8
PHP 5.6.4
my database details:
<pre><code>if ($_SERVER['HTTP_HOST'] == 'localhost') { // If local, load this
  	$db['default']['hostname'] = 'localhost'; # also test it with 127.0.0.1
  	$db['defa

[2015-01-16 19:29] cdevroe commented on #80
@heubergen What is the bug?

[2015-01-16 19:39] cdevroe commented on #81
@w00kie Feel free to make some edits and do a Pull Request. We'd love to be able to search description too.

[2015-01-16 19:39] #81 closed

[2015-01-16 19:40] cdevroe commented on #50
This is definitely coming. We're really backed up with client work right now -- hence the slow down. But if anyone else wants to get in and help out we'd love the help.

[2015-01-16 19:40] cdevroe commented on #84
Can you paste your application logs here?

[2015-01-16 19:41] heubergen commented on #80
@cdevroe How you can on #84 I become a 404 not found error when I navigate to todo.***.ch/setup
I use apache, mysql and php.

[2015-01-16 19:43] cdevroe commented on #83
@nitinthewiz We don't mention where the logs are because we try to state, fairly clearly, that this uses Code Igniter. So we hope people will visit http://www.codeigniter.com/docs often to see how they should work on Unmark.

I wish we knew what the error was in your upgrade. A simple migration should have worked just fine. Can you see if the current migration version (stored in DB) is up-to-date

[2015-01-16 19:46] cdevroe commented on #80
If there is a 404 in Unmark ever there is an error in the set up. Please let us know your logs on #84

[2015-01-16 19:49] heubergen commented on #84
Sorry, Im not sure which log you mean?
I have here Apache, mysql or do you mean a other?
The error_log file in unmark is empty.

[2015-01-16 19:51] cdevroe commented on #79
@githubtobi Have you solved this issue yet? Have you looked in the database to see if the user is created?

[2015-01-16 19:59] cdevroe opened #85 "Resolving Setup Issues"
Obviously, people are having issues setting up Unmark. There are always so many variables at play... the hosting environment, versions of PHP, Apache, mySQL, etc., the overall experience of the user, database permissions, file permissions, etc.

We honestly never expected to see so many issues with people setting up a simple Code Igniter application. But there are... many. Still opened at #56, #64

[2015-01-16 20:03] cdevroe commented on #84
@heubergen Looks like the database isn't being set up. Or the user you're using doesn't have permissions. Or the database itself doesn't exist.

Can you do a test PHP file to connect to the database to make sure you have everything correct?

Something like
[code]

[2015-01-16 20:08] heubergen commented on #84
Hmmm, I become a "could not connect to mysql" back, does I have to initialize the database first?

[2015-01-16 21:04] cdevroe commented on #84
@heubergen Try running setup again and see if any tables are created.

[2015-01-16 21:30] heubergen commented on #84
@cdevroe Sorry, there are not created tables, I don't think that anything happen if I become a 404 error...

[2015-01-16 22:01] nitinthewiz commented on #83
@cdevroe hmmm. Yes, I should use CodeIgniter docs to figure that out. Next time!

Now, deets. Currently, the migrations table says version 10.

And yes, I ran /upgrade, which redirected to /marks and the generic error was displayed. I don't have a local setup to repro the issue but I'll keep my eyes open next time...

Also, "nilaywillmakemoney"? :stuck_out_tongue_closed_eyes:

[2015-01-17 23:16] leirags commented on #80
I try again and make a log id changes next monday send TO you

Enviado desde mi iPhone

[2015-01-18 00:16] chrtze commented on #84
+1

"The requested URL /index.php was not found on this server."

When trying to access /setup

[2015-01-20 05:20] w00kie commented on #81
I looked into adding fulltext search but it would require either adding a new myisam table for indexing or upgrading to mysql 5.6

[2015-01-20 21:35] simonschaufi commented on #50
i can help with the coding if you do the design ;)

[2015-01-23 16:16] rootion opened #86 "open_basedir restriction and file environment.php not allowed in the path"
I can't install unmark in my server either. I am having this error message:

`Warning: file_exists(): open_basedir restriction in effect. File(/etc/unmark/environment.php) is not within the allowed path(s): (/nfs:/tmp:/usr/local:/etc/apache2/gs-bin) in /nfs/c05/h03/mnt/00000/domains/unmark.mydomain.com/html/index.php on line 43`

I googled it extensively and also checked the issue with my webhosti

[2015-01-29 11:43] yforster commented on #84
+1 "The requested URL /index.php was not found on this server."

[2015-01-29 23:07] williamknauss commented on #86
Good Day @rootion,
Let me try to answer your questions the best I can. While I am not a Unmark developer I have years experience in working with PHP..

"How can I reconfigure the script to utilize folders within the document root for the site?"
I believe your talking about the direct reference to /etc/unmark/environment. This path can be easily be changed by modifying line 40 of index.php

"And is

[2015-01-30 06:41] williamknauss commented on #75
+1 I'll even put in a PR

[2015-01-30 07:25] williamknauss opened #89 "environment constant logic"
If I could create labels I would put "logic" on this issue.

I would say the logic to determine the "ENVIRONMENT" is well a bit jumbled.

First you check to see if an application configuration file exists (environment.php), then you check UNMARK_ENV_CONFIG_GLOBAL constant (path), and if ENVIRONMENT is still not set you default it to "production".

Would it be to bold to suggest to drop all of the

[2015-01-30 15:05] #78 closed

[2015-01-30 15:05] #75 closed

[2015-01-30 15:08] cdevroe commented on #76
Myself, or someone that is willing, will need to hop on this to close out 1.6.2. I think this is needed in Unmark to resolve a lot of issues people are having.

[2015-01-30 15:28] cdevroe commented on #85
I'm back from vacation. :smile: :palm_tree: -> :frowning: :snowflake:

So I'll start hopping onto some of these open issues soon. Thanks to @williamknauss for tackling a few while I was away. His PRs have been merged into master and are slated to be released in 1.6.2. There is only one issue left in 1.6.2 and, depending on how quickly some of the above referenced issues go, I may add a few more is

[2015-01-30 16:46] williamknauss commented on #77
CodeIgniter will automatically load configuration based on your ENVIRONMENT.
I.e. if your ENVIRONMENT is set to development then CodeIgniter will first check to see if ./application/config/development/database.php exists and if it doesn't CodeIgniter will fallback to ./application/config/database.php

[2015-01-30 20:55] williamknauss commented on #76
Hello @su,
Well there is a couple of ways of going about this. Once the default ENVIRONMENT in ./index.php could be changed from "production" to "development", which when then display the errors you are requesting.

There is also the possibility of removing the if/else statement in the error(s) file(s) and to always show the heading and message.

Another option although more complex could be to on

[2015-01-30 20:59] williamknauss commented on #76
@cdevroe I would be glad to submit a PR for this if you want.

[2015-02-02 15:16] williamknauss opened #92 "Bookmarklet doesn't work on Github.com"
I know technically this isn't an Unmark bug. It you try to run the Unmark+ Bookmarklet on any github.com page, it won't do anything. After reviewing Firebug console I found this:
![csp](https://cloud.githubusercontent.com/assets/2041571/6002791/72e49be4-aac4-11e4-9e93-d29ab2f3aac0.png)

Again I understand that this is not a Unmark+ problem, however I'm adding a bug report to see if we can maybe bu

[2015-02-02 15:20] williamknauss commented on #92
After further review I found this to be a Firefox bug, the bookmarklet works on Github pages if I am in Chrome.

[2015-02-02 15:27] williamknauss commented on #92
[More on this] (https://github.com/blog/1477-content-security-policy)

[2015-02-04 15:07] williamknauss commented on #84
@heubergen
When I went thru the installation I also got a white page. After some debugging I found the whitepage was caused by not having gettext enabled in php. Could you verify that you do indeed have gettext installed and enabled?

[2015-02-04 15:16] williamknauss commented on #56
@szmarci,
I'm sorry your having trouble getting Unmark installed. Lets see what I can do to help out.
I see you mentioned creating a user through Sequal Pro. While it doesn't matter what program or system is used to create the user, the user does need some rights in order to successfully install Unmark.

While I can't seem to find documentation stating what SQL rights are needed, I suggest giving

[2015-02-04 16:52] heubergen commented on #84
Thanks for your helping @williamknauss but I have install and enabled the extension.
In my php info stand follow:
gettext
GetText Support	enabled

[2015-02-04 20:01] #77 closed

[2015-02-04 23:21] williamknauss commented on #64
Hi @Kasparov51,
The technical requirements of Unmark require PHP 5.4. I see you listed PHP 5.2.17. Maybe this is the cause of the mysql and other issues you are having? Any chance you could update to PHP 5.4 and see if you still have these problems?

[2015-02-04 23:25] williamknauss commented on #68
Hi @Kasparov51,
In a previous bug report you mentioned using PHP version 5.2.17. Are you using the same version of PHP when filing this report?

Thanks Mate

[2015-02-04 23:33] williamknauss commented on #79
Hi mate, @githubtobi
Would you mind telling us the PHP version you are using?

Thanks Mate

[2015-02-04 23:36] williamknauss commented on #83
Hi @nitinthewiz,
I'm a bit confused here. Were you able to solve the problems you had? If not could you provide your PHP version that your using?

[2015-02-04 23:49] williamknauss commented on #84
@heubergen,
You've got me stumped here but I'm not giving up. Do you have access to the web server error log? If so could you clear the log(s), download the master branch again and try your install. If it still fails I would be very interested in seeing the web server error logs have to say.

[2015-02-05 00:05] nitinthewiz commented on #83
@williamknauss I was able to resolve the issue by running that MySQL Alter table command manually. It did not run on it's own no matter what I tried. As for the PHP version, it is PHP 5.4.31 as listed [here](http://www.nosupportlinuxhosting.com/ServerSpecs.html).

[2015-02-05 11:02] githubtobi commented on #79
Hi @cdevroe , @williamknauss ,

I fixed the issue yesterday by using another webhoster (uberspace). It works now - cool!

Will try to install it on my local server with debian, nginx and mysql next week.

Tobi

[2015-02-05 11:02] #79 closed

[2015-02-05 11:08] yforster commented on #79
I failed many times installing unmark in my uberspace. I would be very grateful if you could drop me an email (via my profile) and tell me if you did anything special to install unmark.

[2015-02-05 11:21] Kasparov51 commented on #64
Hello,

Thank you for the answer.
I'm currently trying to make the server version update to 5.4 or higher.
I'll try again as soon as possible.

[2015-02-05 14:49] williamknauss commented on #79
Hello @yforster,
While this ticked is closed, I'll try to answer your question in one response. If it takes more than one response I would kindly ask you open your own issue. I would suggest downloading the newest [master branch] (https://github.com/plainmade/unmark/archive/master.zip) and try installing with that. Some changes were made recently that may affect your installation environment.

[2015-02-05 14:51] githubtobi commented on #79
Hi yforster,

sure, will drop you a mail in a minute how to install unmark on uberspace. It's a bit tricky but at the end it works perfectly!

Tobi

[2015-02-05 14:53] williamknauss commented on #79
@githubtobi,
Just for kicks and giggles would you mind posting the instructions here, so we can get them added to the wiki?

Thanks Mate

[2015-02-05 15:01] Kasparov51 commented on #64
So I now have PHP 5.4.
I have the right error messages on login, I can connect smoothly, and the link's categories color dots seems to work correctly. I'll try a new install tonight (as I made many modifications on this one to understand what was going wrong) and I'll confirm the tickets that can now be closed.
Thank you :)

[2015-02-05 15:05] githubtobi commented on #79
sure:

1.) Connect to your uberspace account via SSH & add the bookmark subdomain (uberspace-add-comain -d bookmark.domain.tld -w)
2.) Configure Subdomain in your account of your domain registrar - I use inwx.de  (select domain, dns-entry, new -> bookmark, A, uberspace IP)
5.) Connect to uberspace via ssh and change to your html folder "cd /var/www/virtual/<username>/html"
6.) Download unmark-zip

[2015-02-05 15:24] Menti commented on #84
I don't know if this could be useful, but I tried to install Unmask on a Bitnami LAMP stack (https://bitnami.com/stack/lamp) and it failed (it connected to MySQL but couldn't find the database). Since Bitnami is self-contained, I guess it should behave the same in any computer.

[2015-02-05 16:37] williamknauss commented on #84
Hi @Menti,
Sorry to see you are having problems to. What version of PHP are you using?

[2015-02-05 17:52] heubergen commented on #84
error.log:<pre><code>
[Thu Feb 05 18:46:00.176315 2015] [ssl:warn] [pid 2844] AH01909: localhost:443:0 server certificate does NOT include an ID which matches the server name
[Thu Feb 05 18:46:00.231702 2015] [ssl:warn] [pid 2845] AH01909: localhost:443:0 server certificate does NOT include an ID which matches the server name
[Thu Feb 05 18:46:00.235122 2015] [mpm_prefork:notice] [pid 2845] AH0016

[2015-02-05 17:55] Kasparov51 commented on #84
Same problem here : trying to reinstall Unmark now that PHP version is 5.4, and /setup isn't working.
Same error as above :
ERROR - 2015-02-05 18:50:43 --> Query error: Table 'unmark.plain_sessions' doesn't exist

[2015-02-05 17:59] heubergen commented on #84
Thats sound like the app try to access a table that are not created first. Maybe the app should "initial" the database frist...

[2015-02-05 18:40] williamknauss commented on #84
@heubergen,
Yes looks like we are making progress in debugging this. I just want to make sure you have enabled url rewrites. (mod_rewrite.so) As technically /setup isn't a file but a rewrite of /index.php/setup/index. From your logs it looks like you are using the mpm_php with Apache. I've honestly never tried it with the mpm, I've always used mod_php. Can you confirm so I can get diving into this

[2015-02-05 19:11] heubergen commented on #84
I'm trying to bring mod_rewrite to work, I will ping you later.

[2015-02-05 19:29] heubergen commented on #84
I have solved the problem!

My mod_rewrite was broken and I had to change something on etc/apache2/apache2.conf :
Old:
<pre><code>*Directory /var/www/*
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
*/Directory*</code></pre>
New:
<pre><code>*Directory /var/www/*
        Options Indexes FollowSymLinks
        AllowOverride FileInfo
        Require all

[2015-02-05 19:47] cdevroe commented on #92
Yes, we've had this issue in the past with all browsers (see #49) but it appears the GitHub updated something. I suppose they simply didn't update Firefox for this.

I do not know what our options are here. I'd have to do some research.

[2015-02-05 19:50] williamknauss commented on #92
Yes I agree this is a Firefox bug. I read somewhere but would have to find the link that we may be able to encapsulate the bookmarklet code in some CSS. However that sounds very "hackish" to me. Maybe we should just wait till Firefox fixes this bug.

[2015-02-05 19:51] williamknauss commented on #76
I lean towards showing errors only if one of the following conditions if met.
A) The developer has specifically set errors to show
B) The application hasn't been installed yet

[2015-02-05 19:56] cdevroe commented on #76
Perhaps we can do something a bit nicer than the default messaging... perhaps we can return the error(s) that CodeIgniter would return normally... and put them into the current view in Unmark so that they are styled nicely.

[2015-02-05 19:59] williamknauss commented on #76
This would be as simple as removing the if/else in the error views I believe. Keep in mind though that these error messages would still be displayed in a production environment.

[2015-02-05 20:02] #92 closed

[2015-02-05 20:12] cdevroe commented on #84
@heubergen @williamknauss This is awesome. I hope it solves the issue for many. Also... maybe we should add any of this information to our Wiki/Readme?

[2015-02-05 20:16] heubergen commented on #84
Yeah I think its only a problem if you use the php-fpm package, with the default package (mod_php) you don't need to edit this setting if I'm right.

[2015-02-05 20:30] cdevroe commented on #76
@su  pull the latest master branch and give it a whirl. Then come back and let @williamknauss and I know if you need anything else.

[2015-02-05 20:44] cdevroe commented on #83
@nitinthewiz Glad you were able to resolve your issue. Odd that the migration didn't run. I wish the migrations we were using were more robust and easier to manage.

[2015-02-05 20:44] #83 closed

[2015-02-05 20:45] cdevroe commented on #85
A big thanks to @williamknauss for helping to get these issues cleared up. It looks like after today many of the setup issues that people were having with Unmark have been resolved in one way or another.

[2015-02-05 20:45] #85 closed

[2015-02-05 20:49] cdevroe commented on #50
@simonschaufi Maybe we can all collaborate on this. @williamknauss too.

We'll start piecing together the UI portion... perhaps with @kyleruane's help. Then maybe we can work up a way to implement it and assign separate tasks; migrations, views, model/controller updates, documentation, etc.

[2015-02-05 21:23] Kasparov51 commented on #84
I'm afraid my problem had nothing to do with that : on reinstalling Unmark, I had forgotten some tables of the previous install... Everything is working fine for me, now :)

[2015-02-05 21:24] Kasparov51 commented on #68
By using PHP 5.4, everything is fine now.

[2015-02-05 21:24] #68 closed

[2015-02-05 21:24] Kasparov51 commented on #64
By using PHP 5.4, everything is fine now.

[2015-02-05 21:24] #64 closed

[2015-02-05 21:24] williamknauss commented on #68
@Kasparov51
Great to hear mate!

Cheers!

[2015-02-05 21:25] williamknauss commented on #84
@Kasparov51,
That's great to hear you got it work mate!

[2015-02-05 21:31] williamknauss commented on #84
@chrtze and @yforster
Can you confirm that the fixes listed here indeed solved your problem?

[2015-02-05 21:31] williamknauss commented on #85
We honestly never expected to see so many issues with people setting up a simple Code Igniter application. But there are... many. Still opened at #56, ~~#64~~, ~~#68~~, #71, numbers ~~#76~~, ~~#77~~ in some ways, ~~#79~~, ~~#83~~ (upgrade issue, more or less), and ~~#84~~.

[2015-02-05 21:34] williamknauss commented on #84
@heubergen,
Please correct me if I am wrong here, but the Apache directives (specifically the directory directives) you had to change would have needed changed whether you were running mod_php of php_fpm.

[2015-02-05 21:36] williamknauss commented on #71
@cybrwushl93,
The behavior you are listing sounds like you might be using an older version of PHP. Can you confirm you are using PHP 5.4 or above?

Thanks mate

[2015-02-05 23:02] williamknauss opened #93 "Create Installer"
It would be great to see an installer created that would do the following:

- [ ] Check Installation Environment
  - [X] Verify PHP 5.4 or higher - williamknauss/unmark@6d9ce8fcaea91b9685a75465789a92e52e689d80
  - [X] Verify gettext is installed and enabled - williamknauss/unmark@d4ffdd006476e79a54be5a6396f63119fe667cf0
  - [ ] If webserver is Apache verify mod_rewrite is enabled
  - [X] Verify MY

[2015-02-06 01:14] williamknauss commented on #93
The first problem I encountered:
I navigated to my new controller "installer" by going to http://subdomain.domain.tld/installer and got presented with "Eek, something is wrong" -
 "An unexpected error has occured
The issue has been logged and will be taken care of shortly."

This was caused by the database.php configuration file missing.  Looks like f13ea2efd264e0d8020f12105465fb0be5cdd9d8 needs e

[2015-02-06 05:11] williamknauss commented on #93
###### Questions, Comments, Concerns, Dreams, or Aspirations
I want to make a note that this installer is not ready for production. It is merely a proposal. I made some core changes that need reviewed by @cdevroe. The two changes to keep in mind are:
1) I removed the database from autoload and loaded it up in the construct of the controllers
2) I choked the Unmark_localization hook if we are on th

[2015-02-06 05:40] williamknauss commented on #67
Hello @rpdillon,
I added this feature in [my branch] (https://github.com/williamknauss/unmark/tree/issue-67).
Its simple enough to use, just set the config value 'plain_enable_registrations' to true of false in ./application/config/config.php.

@cdevroe should I open a PR to the master or staging branch?

[2015-02-06 05:45] williamknauss commented on #76
@cdevroe,
We may have to do the same logic change to ./application/errors/error_general.php.

[2015-02-06 06:35] heubergen commented on #84
I'm not shure, I can just say that in the past I had never have to change anything on this conf-file. So I think with the normal php modul it should work without any modification.

[2015-02-06 13:53] cybrwushl93 commented on #71
@williamknauss
I definitly using php version 5.5.9.

After your reply I made a fresh installation on my ubuntu server from the master branch and nothing of the above happened! I could register a user and work fine with unmark.

Thanks for your support.

[2015-02-06 13:53] #71 closed

[2015-02-06 14:55] cdevroe commented on #67
@williamknauss This looks to be a simple enough solution. Perhaps also adding a note in the Readme for how to update the config. Then make a PR.

[2015-02-06 14:57] cdevroe commented on #76
@williamknauss Good point. Done.

[2015-02-06 15:11] cdevroe commented on #79
@williamknauss @githubtobi I wonder if this would be good to add to the wiki so people can reference it?

[2015-02-06 15:16] yforster commented on #84
I was able to fix the error by accessing unmark via a subdomain. `http://example.com/unmark/setup` did not work, while `http://unmark.example.com/?setup` works.

[2015-02-06 15:17] cdevroe commented on #84
@yforster You shouldn't need the ? in the URL.

[2015-02-06 15:20] yforster commented on #84
Im sorry, your right, that's not needed. Is it intended behaviour that unmark is not accesible via folders?

[2015-02-06 15:23] cdevroe commented on #84
@yforster If you installed it as a sub-domain, then that is why it is at unmark.*.* rather than *.*/unmark. I'm unsure how you installed it.

But yes, all routes should be domain.com/controller/method --- as this is a CodeIgniter application.

[2015-02-06 15:29] yforster commented on #84
I am using uberspace.de and installed it to a subfolder, so example.com/unmark technically finds the index.php file, but I guess the CodeIgniter stuff does'nt work then. I can access this subfolder via a symlink as subdomain. Only the second way works. Maybe it would make sense to make this precise under the installation instructions.

[2015-02-06 15:30] cdevroe commented on #84
It is not required that Unmark run as a sub-domain. I'm unsure about uberspace as I've never used it.

[2015-02-06 16:49] heubergen commented on #84
I use uberspace in the past too :) @yforster
@cdevroe uberspace is a hosting service where you have direct access to the shell via ssh and you can install and do everything for them you don't need a root account. You have also your own php.ini

[2015-02-06 18:12] yforster commented on #84
I think this issue is not only uberspace related, but on any webserver we need the routes `domain.com/controller/method` as @cdevroe pointed out. Is this mentioned somewhere?

[2015-02-06 18:26] cdevroe commented on #84
@yforster Unless I'm misunderstanding this thread... CodeIgniter does this out of the box. So any of the routes in /application/config/routes.php are custom.

[2015-02-06 18:32] yforster commented on #84
So you'd suggest it is a bug that I get this error when accessing unmark via `domain.com/unmark`?

[2015-02-07 01:15] williamknauss commented on #84
@yforster,
I have confirmed that installing Unmark in a sub directory doesn't work as expected. I'll open a new ticket an reference there issue number here.

Thanks Mate

[2015-02-07 01:42] williamknauss opened #94 "Unmark Sub Directory Installation"
There are a few bugs when that I noticed when attempting to install Unmark in a subdirectory.

###### Server Environment:
* Windows 7 Professional
* Apache 2.4.9 (VC11)
* PHP 5.5.9

###### Steps to replicate problem:
* Create Apache VHost (books.10.0.4.93.xip.io)
* Clone Unmark into sub directory of VHost (git clone https://github.com/plainmade/unmark.git test)
* Navigate to Unmark setup (http://b

[2015-02-07 01:46] williamknauss opened #95 "Unmark Sub Directory Installation .htaccess file"
When attempting to install Unmark in a sub directory of a domain the .htaccess file rewrites the URL's to the root of the subdomain essentially breaking Unmark.

[2015-02-07 01:48] williamknauss opened #96 "Unmark Sub Directory Installation assets"
When attempting to install Unmark in a subdirectory of a domain the assets are hard coded to "/{asset_path}". Assets should be loaded relative to the installation files of Unmark.

[2015-02-07 01:49] williamknauss opened #97 "Unmark Sub Directory Installation Hard Coded Links"
When attempting to install Unmark in a subdirectory, some links are hard coded with a "/" in front of them. Links should be created relative to the installation files of Unmark

[2015-02-07 01:50] williamknauss commented on #94
- [ ] .htaccess Update #95
- [ ] Update Asset References #96
- [ ] Update hard coded links #97

[2015-02-07 02:31] williamknauss commented on #95
While this PR fixes any Apache issues with installing in a sub directory I would really like to get input from an Nginx expert on the proper Nginx configuration. Can any experts confirm [nginx setup] (https://github.com/plainmade/unmark/wiki/Nginx-Configuration) will work for a sub directory?

[2015-02-08 17:24] Menti commented on #84
The same installation that does not work if accessed as a subdirectory works if accessed as a subdomain, in my case.

[2015-02-08 23:32] williamknauss commented on #84
Hi @Menti,
Yes sub directory installation has a few bugs that w are addressing. Take a look at #94 to follow the progress of getting this fixed.

[2015-02-09 15:42] #84 closed

[2015-02-09 15:43] williamknauss commented on #76
@su,
The are errors are now verbose on all ENVIRONMENTS. Thanks for pointing this out.

[2015-02-09 15:43] #76 closed

[2015-02-10 17:03] williamknauss commented on #97
Leaving notes of the regex(s) used to locate hard coded links and such
Searching 28 files for "<a\s+(?:[^>]*?\s+)?href="([^"]*)"" (regex)

[2015-02-10 17:20] githubtobi commented on #79
No prob, just copy & paste my text

[2015-02-11 16:32] wolfsiren opened #102 "Feature Request for Favicons"
I would like to submit a feature request to see if it is possible to put the favicon image of  bookmark link into the view next to the bookmark. I think this would be a nice visual way to quickly identify bookmarks.

[2015-02-11 21:28] cdevroe commented on #96
@williamknauss It looks like you've merged this into staging. Would you like me to test this prior to us merging it with master?

[2015-02-11 21:31] cdevroe commented on #95
@williamknauss I made a request on Twitter for some nginx people to take a look. If we don't get a response I'll personally reach out to a few people, Maybe even @kip9! https://twitter.com/cdevroe/status/565623629892042753

[2015-02-11 21:38] cdevroe commented on #79
Thanks @githubtobi I put this here:
https://github.com/plainmade/unmark/wiki/How-to-use-Unmark-on-Uberspace

[2015-02-11 21:40] cdevroe commented on #102
@wolfsiren That would be cool. Does anyone know if there is a "gravatar" for favicons? Or, perhaps we can write our own routine to 'check' to see if the URL that is bookmarked has a favicon. Favicons, in general, are in the same locations.

[2015-02-12 03:42] williamknauss commented on #96
Hi @cdevroe,
I did merge this into staging but its not quite ready. This is a "3" part update. I using #94 as a tracking "issue" for all 3 steps. I need to finalize #97, then this is ready for full scale testing.

[2015-02-12 16:56] williamknauss commented on #102
@wolfsiren and @cdevroe
I found http://grabicon.com/ but personally I don't like the idea that Unmark would have to rely on a third party service. It might be easier to just script this ourselfs. Something like

--CRON JOB--
take Unmark "Mark" and strip URI down to subdomain.domain.tld
Curl subdomain.domain.tld/favicon.ico
If we find a favicon save it to a local path if not
Curl subdomain.domain.t

[2015-02-13 14:57] rootion commented on #86
hi @williamknauss,

Thanks for your reply. Can you please help me to change the path in the line 40 of index.php?
What exactly should I replace instead of /etc/unmark/environment? I am having issues with that.
I am trying to install unmark in unmark.mydomain.com

Thanks!

[2015-02-13 16:28] williamknauss commented on #86
Good Day @rootion,
Try downloading the newest master branch from [here.] (https://github.com/plainmade/unmark/archive/master.zip)

Your issue was resolved and there shouldn't be a need to change the configuration path anymore.

Let me know how it goes.

Cheers Mate

[2015-02-13 20:57] williamknauss commented on #67
Hi @rpdillon,
We have implemented this feature in the most recent version of Unmark. Download the [newest master branch.] (https://github.com/plainmade/unmark/archive/master.zip)

Thanks Mate

[2015-02-13 20:57] #67 closed

[2015-02-13 20:59] rpdillon commented on #67
On February 13, 2015 12:57:44 PM PST, William Knauss <notifications@github.com> wrote:

Awesome!  I'll check it out this weekend.  Thanks!
--
Sent from mobile.

[2015-02-13 21:29] williamknauss commented on #56
Hi @szmarci,
Try downloading the newest [master branch] (https://github.com/plainmade/unmark/archive/master.zip). Unmark has made great progress in being more verbose about errors.

Feel free to open a new issue if you still encounter issues.

Thanks Mate@

[2015-02-13 21:29] #56 closed

[2015-02-13 23:15] pAt84 opened #103 "setup folder missing"
Hi,

ok, the readme.md says to run  "your-unmark-url/setup" but either I am blind or something is wrong because there is no setup folder in the repository?

Best
P

[2015-02-14 02:05] williamknauss commented on #103
Hi @pAt84,
Unmark is built on a PHP framework called CodeIgniter which has some pretty cool routing built in. When you access your-unmark-url/setup, CodeIgniter (via url rewrites) actually sees http://your-unmark-url/index.php/setup. The basics is that CodeIgniter will try to locate a file (called a controller) in ./application/controllers and execute the default "index" method.

You can read all

[2015-02-14 02:05] #103 closed

[2015-02-14 17:24] pAt84 commented on #103
Hi,

thanks for the guidelines, did not know about codegniter. I actually had to explicitely add the "index.php" in the URL. Unfortunately it does not work this way either. If I click "install" it gives me "Not Found / The requested URL /install was not found on this server.". I also added "DirectoryIndex index.php" in the apache config to Directory which hosts my entire webpage, including unmark

[2015-02-14 17:34] williamknauss commented on #103
Hi @pAt84,
At this point Unmark requires that URL rewrites are enabled. (As a side note Unmark has to be installed in the root of your subdomain not a subdirectory). Try setting your Directory directive to something like this:

[code]

[2015-02-14 18:09] pAt84 commented on #103
Hi,

thanks for the quick response again William. I really appreciate it. Unfortunately the error message remains. It is installed in the root. The apache config has this statement in now:

DocumentRoot /var/www/
        <Directory />
                RewriteEngine On
                Options FollowSymLinks Indexes
                AllowOverride AuthConfig Options FileInfo
        </Directory>

Also

[2015-02-14 18:12] williamknauss commented on #103
Try setting your virtual host to this, also keep in mind that apache mod_rewrite needs to be enabled.

[code]

[2015-02-14 20:18] pAt84 commented on #103
No, no luck. You previously wrote that unmark should be installed in the root. Did you mean / or can I have www.mydomain.com/unmark because I went for the second option. I could go with the first option if I add a subdomain.

[2015-02-15 02:05] pAt84 commented on #103
Ok yeah, moving it to a subdomain (i.e. unmark.mydomain.com) did the trick. :)

[2015-02-17 14:42] rootion commented on #86
Hi @williamknauss

I dont know what I am doing wrong. I downloaded the newest master branch, imported my server settings but I keep getting the following error:

`Warning: is_readable(): open_basedir restriction in effect. File(/etc/unmark/environment.php) is not within the allowed path(s): (/nfs:/tmp:/usr/local:/etc/apache2/gs-bin) in /nfs/c05/h03/mnt/70509/domains/mydomain.com/html/index.php on

[2015-02-18 04:37] williamknauss commented on #86
Hi @rootion,
I re-opened this ticket. Right now I'm spinning up a linux VPS to double test this issue.I'll get back to you once we get this straightened out.

Thanks for your patient mate.

[2015-02-18 16:05] rootion commented on #86
Hi @williamknauss

After researching a lot more, I found something that can help me to solve this issue. It's actually in Mediatemple documentation: http://kb.mediatemple.net/questions/514/How+do+I+set+the+path+for+open_basedir%3F#gs

which suggests to add the following line to my php.ini:
`open_basedir = "/path/to/first/folder:/path/to/second/folder`

However I am not that pro in php. How exactly

[2015-02-18 19:55] cdevroe commented on #89
I think we can ditch all of this logic to help make the open source version of Unmark much, much easier. We can even ditch the environment constant since I seriously doubt many people are running Unmark in multiple environments. That was specifically for unmark.it and I'm more than willing to ditch all of this extra stuff for simplicities sake.

I say we rip it.

[2015-02-18 19:58] williamknauss commented on #89
Fair enough lets rip it out!!! WOOT! :put_litter_in_its_place:

[2015-02-18 20:03] #89 closed

[2015-02-18 20:03] #86 closed

[2015-02-18 20:12] cdevroe commented on #102
@williamknauss You're right. And this can be attached to some of the jobs we already have built into Unmark to get video/audio embeds.

[2015-02-18 20:22] cdevroe commented on #93
I'm on the UI portions right now. *tag* :hand:

[2015-02-18 22:01] williamknauss commented on #93
The initial install process looks good, I do have a concern with the textarea box. Would it be possible to left align the textarea box? As a side note making "Next Step" have the same blue button as "Install" on the previous step would be nice.

![installbox](https://cloud.githubusercontent.com/assets/2041571/6257570/3f17a6c6-b78f-11e4-9d1a-3d2e00396c32.png)

I'll look into trying to combining the

[2015-02-18 23:47] williamknauss commented on #86
Hi @rootion,
After talking with @cdevroe this afternoon we both agreed it would be best if this troubling code was removed.  So I am happy to say that it has been removed and this problem should no longer plague you. You also won't be required to change the open_basedir directive in PHP.

Try downloading (yet again) the newest master branch and let us know how it goes.

Thanks for your patient mat

[2015-02-19 17:22] rootion commented on #86
hey @williamknauss

Thanks for your efforts too. I uploaded the new master branch but still didnt succeed installing unmark., Now whenever I go to `unmark.mydomain.com/setup` it redirects me to the login screen (which is in `unmark.mydomain.com`) and I can't even start the setup.

I don't seem to have luck here. What could be the issue?
I can send you my website url per email if that can help.

[2015-02-20 15:20] wolfsiren opened #104 "Feature Request for Visible Search Bar"
Want to start off by saying I love Unmark! It is very helpful. While using it though I found that the search bar is in the menu system and because I use search a lot to find things I would like to put in a feature request to have the search bar visible at all times instead of in the menu system.

[2015-02-20 19:42] cdevroe commented on #104
@wolfsiren Thanks for the kind words. This is an excellent suggestion.

[2015-02-21 22:46] williamknauss commented on #86
Hi @rootion,
Again I am really sorry that you are having so many issues getting Unmark installed. Do you have tables in your database already? If so delete all the tables in your database and then try running setup again.

[2015-02-21 22:51] williamknauss opened #105 "Readme update"
The readme needs updated to reflect that the web server needs URL rewrites enabled.

[2015-02-21 23:00] williamknauss opened #107 "Remove Old Cache Files"
There seem to be some old .sass-cache files that may need removed.

[2015-02-22 07:04] williamknauss commented on #93
Made some major progress on this issue this weekend.

[2015-02-22 17:52] williamknauss opened #109 "Grunt, Grunt, Oink, Oink"
Hello,
"DISCLAIMER": I have never used Grunt before this weekend. So please consider me a novice.

So this weekend I was working on rebuilding some of the javascript urls, so I followed the instructions to setup Grunt. I kept running the command "grunt" and was presented with an error
[code]

Using my favorite search engine (Google) I found countless results of similar errors (behavior) using Grun

[2015-02-23 00:05] nothing-fr opened #111 "Forced to archive a mark to delete it..."
Please, change this behavior.

It don't think it's necessary to archive the mark before deleting it, we should be able to do it directly from the edit pane.

[2015-02-23 00:09] nothing-fr commented on #45
nice, I'm thinking about migrating from [Shaarli](https://github.com/sebsauvage/Shaarli)
 to Unmark... but i need this feature ! ;)

Have too much bookmarks right now to migrate manually...

[2015-02-23 01:25] rootion commented on #86
That worked! it's working. Yey. Many thanks!

[2015-02-23 03:05] williamknauss commented on #86
Sweet! Glad we got it working mate! :100:

[2015-02-23 03:22] williamknauss commented on #97
So I've run into a road block here. I'm way to spoiled by PHP's functionality here of: __DIR__, and CodeIgniter's FCPATH, APPPATH, and base_url();

Essentially Javascript doesn't have a way to give me a base url. I know all about $(location) but the closest thing to a CodeIgniter base_url() would be $(location).attr('origin); However origin doesn't include any sub directory paths that may be used.

[2015-02-23 18:41] cdevroe commented on #45
@nothing-fr Right now http://unmark.it - the hosted solution - allows for importing bookmarks from Browsers (Safari, Chrome, etc.), Pinboard, and Delicious.

We'd love it if someone extended the importer to support other services... Shaarli included!

[2015-02-23 18:44] cdevroe opened #112 "Extend Unmark's importer to support new services"
Currently supported: Browser exports from Safari, Chrome, Firefox. Also Pinboard and Delicious.

What else would you like to see?
- [ ] Shaarli (taken from comment on #45 )
- [x] Pocket
- [ ] Instapaper
- [ ] Wallabag

What else?

[2015-02-23 18:47] cdevroe commented on #97
@williamknauss What about adding a configuration variable called $unmark_url? This can then be used for things like this.

[2015-02-23 18:47] cdevroe commented on #109
This makes sense. I say update.

[2015-02-23 18:53] williamknauss commented on #97
@cdevroe
Just checking for some clarification here, are you referring to making a meta tag called "unmark_url"?

[2015-02-23 18:58] cdevroe commented on #97
@williamknauss No, a PHP variable in config. I think looking up a URL in jQuery -- either by reading the value of a header meta tag or by determining the URL using JavaScript is a heafty price on speed. I think if someone wants Unmark in a sub-directory they can type in a URL in config.php to allow for that.

What do you think?

[2015-02-23 19:14] williamknauss commented on #97
CodeIgniter figures this out for us already, we just need to call:

[code]

WOOT WOOT!

[2015-02-23 19:18] #109 closed

[2015-02-23 19:18] #107 closed

[2015-02-23 19:19] #105 closed

[2015-02-24 01:23] #95 closed

[2015-02-24 08:24] nothing-fr commented on #112
https://www.wallabag.org/ ? it's like Pocket & Instapaper but with Self-Hosted version...

[2015-02-24 16:52] cdevroe commented on #112
@nothing-fr updated.

[2015-02-25 14:04] karibuTW commented on #103
Hi guys,

Great software! I've made an article on my blog to explain how to install it for those having difficulties (With a subdomain, it works great indeed)

Here is the link if needed:
http://freedif.org/unmark-the-to-do-list-for-your-bookmarks/

Keep the good work up!

[2015-02-25 14:41] cdevroe commented on #103
@karibuTW Thanks for the write-up.

[2015-02-25 15:51] williamknauss commented on #103
Hi @karibuTW,
Thanks for the awesome writeup mate!

[2015-02-27 13:07] Menti opened #113 "Feature: generate feeds from bookmarks"
This is a niche request. There are some uses of RSS feeds generated by a bookmark app:

- Automating the posting of links to Twitter, etc.
- Populating a blog sidebar with recent bookmarks.
- Subscribing to someone's bookmarks.

Some bookmarking apps generate RSS for the user's bookmarks, tags, etc. RSS would be the simplest and most generic way of delivering Unmark content to other services (read

[2015-02-27 15:23] cdevroe commented on #113
@Menti I agree. I'm a huge fan of RSS personally. I think this is a must. Though we'll have to carefully plan it out since everyone's bookmarks are "password protected" even locally. So RSS may need to be optionally un-protected as well.

[2015-02-27 15:53] Menti commented on #113
¡Thanks! I understand the difficulties and I'm sure you'l find some neat
way to sort it out.

[2015-02-28 11:13] Menti opened #114 "Click areas in bookmark not clearly separated"
An image is better than an explanation:

![captura de pantalla de 2015-02-28 12 06 31](https://cloud.githubusercontent.com/assets/2584307/6425981/826d777e-bf42-11e4-8b60-bc7e020ee7a3.png)

The area within the dotted rectangle is an external link to the bookmarked page. It extends well past the end of the link text proper. There is no way to differentiate between this area and the outer area, where

[2015-02-28 11:40] Menti commented on #38
Hi, I have almost translated Unmark into Spanish. I'm using shared hosting, and the translation is not showing up there. This is my language.php:

[code]

If I change the default language to Spanish, Unmark switches to the translated version, which works perfectly.

So I guess there's some kind of bug, or cache, or something that I can't probably control being in shared hosting (however, I have ot

[2015-02-28 13:18] cdevroe commented on #114
@Menti I understand your opinion. This area, though, has been painstakingly designed. And it isn't that we are not willing to make adjustments ... but perhaps we can explain the process here.

First, this area is also available on touch devices. We made the entire cell a tap, or click, so that you can see the notes. However, the URL and the title of the bookmark are both clickable/tappable to the

[2015-03-05 06:03] impressivewebs opened #117 "Expired Certificate error"
The website is pushing out an expired security certificate error, claiming it's unsafe to visit. Says the certificate expired 7 days ago.

[2015-03-05 06:48] williamknauss commented on #117
@cdevroe,
You might want to take a look at this.

[2015-03-05 07:01] w00kie commented on #112
kippt.com (exports to a "Netscape bookmarks html format")

[2015-03-05 13:50] cdevroe commented on #112
@w00kie Excellent! That means Unmark already supports importing it.

[2015-03-05 13:50] cdevroe commented on #117
@impressivewebs @williamknauss Yes! Thank you. We purchased it. But our ops person has been unresponsive for a few weeks. We're looking for a new one.

Anyone volunteering? Need an Nginx expert.

[2015-03-05 14:00] williamknauss commented on #117
@cdevroe do you need an Nginx expert or just someone to install your new cert?

[2015-03-05 19:28] cdevroe commented on #117
@williamknauss It is installed!

[2015-03-05 19:30] williamknauss commented on #117
Woot Woot! Yeah for 1 more year! :sparkling_heart: :heart_eyes_cat:

[2015-03-05 19:30] #117 closed

[2015-03-10 05:37] JoshHrach commented on #112
Add a vote to Instapaper for me.

[2015-03-19 08:39] tbleiker commented on #97
What's the status here? I try to install unmark in a sub directory. I think that I got the nginx config right. However, the browser downloads a file called "setup" with some php code inside whenever I call /unmark/setup :open_mouth:

[2015-03-19 13:58] michaeloboyle opened #118 "Submit login via enter key after autofill."
If browser auto-fills credentials, a click on the form is still required to set focus so for can be submitted with enter key. If focus were set on load, then login could happen with one step.

[2015-03-22 21:17] tboulogne opened #119 "auto completion on hashtag #feature request"
Hello,

Great job on unmark !
An interesting feature could be to have autocompletion on hashtag to avoid duplicates (#data and #datas...)

Thanks :-).

Thierry

[2015-03-23 14:30] ShinyShrimp commented on #86
Hmmm it seems that I'm having the same error like him with current master:

Warning: is_readable(): open_basedir restriction in effect. File(/etc/unmark/environment.php) is not within the allowed path(s): (/www/htdocs/w00be84b/:/tmp:/usr/bin:/www/htdocs/w00be84b:/bin:/usr/local/bin:/usr/share/php:/dev/urandom) in /www/htdocs/w00be84b/www.jan-asmuth.de/unmark/index.php on line 43

I try to run unma

[2015-03-23 23:34] williamknauss commented on #86
Hi @ShinyShrimp,
I think you need to update your master again mate. I just checked our index.php on line 43 and we no longer have the call to /etc/unmark/environment.php.

[2015-03-25 03:44] PaBLoX-CL opened #120 "Is there an API for unmark?"
Hi!

Just found unmark, and I was wondering if an API exists (I didn't find anything in the wiki nor the website). If not, it's in some sort of roadmap?

Sorry if this has been already discussed, or posted somewhere else ._.

[2015-03-25 03:47] PaBLoX-CL commented on #120
LOL, just **after** posting the issue I found:

https://github.com/plainmade/unmark/wiki/Response-Logic

Anyway, a link in the FAQ or in the footer could redirect to that wiki page :).

[2015-03-25 03:47] #120 closed

[2015-03-26 02:14] williamknauss commented on #118
@michaeloboyle
This should be easily accomplished by just setting the focus on the username field when the page loads correct?

[2015-03-26 11:59] cdevroe commented on #118
@williamknauss Yeah. We can do this with a minimal bit of JS.

[2015-03-26 12:20] cdevroe commented on #120
@PaBLoX-CL That's @phpfunk being awesome again.

That said... this is an internal API and not a public one with API keys and all of that. Just so you're clear. I still think we should add an API to Unmark for data transactions beyond the application itself at some point. Especially for http://unmark.it

[2015-03-26 17:31] PaBLoX-CL commented on #120
Ohh... ok, now I understand. I was wondering for a public one. And yes, you should add one ^_^U

[2015-03-27 22:41] nitinthewiz commented on #120
Just out of curiosity, is the Response Logic based API because of CodeIgniter features or is it something you built into Unmark? I tried looking for such logic in Code Igniter's docs but perhaps you're using some extension I'm not aware of...

[2015-03-28 00:56] phpfunk commented on #120
@nitinthewiz no the response logic is not built into CI. It's very easy to implement though. Have a base controller figure out if it's an XMLHttpRequest, incoming API call or internal request and respond with the data accordingly. If you were using Angular for example it would be super easy, just return everything as JSON and call it a day.

All that data stays the same except in this case we retu

[2015-04-01 12:50] domib commented on #81
Hi everyone! @w00kie , could you post your changes to process more pages? Would be very nice :)

[2015-04-01 13:41] w00kie commented on #81
Sure, I have a branch with this enable on my fork, it's really a small change: https://github.com/plainmade/unmark/compare/master...w00kie:embed-all

You also need to get an http://embed.ly/ API key and put it in your config file.

[2015-04-07 12:20] Menti commented on #38
Hi. I'd like to share my translation to Spanish, but I still have the problems that I outlined before. Should I send a pull request with my language files so you can test, or is there some other better way?

[2015-04-08 03:23] FromBabylon opened #121 "Install problem : blank page"
Hi,

I'm having some troubles to reach setup screen with nginx. It used to work very well with the exact same config. (the one from the wiki with one or two small changes)

If I put a test.php file in unmark folder I can reach it so both nginx and php-fpm seems well configured. However every other request ends up with a blank page. No errors in any logs

I have this problem on Archlinux and have j

[2015-04-12 15:27] williamknauss commented on #121
Hi @FromBabylon,
Sorry you are having issues getting Unmark installed. I know one of the more frequent reasons for getting a white page with no errors is because the PHP gettext extension isn't installed or enabled. I would suggest checking that and letting us know.

Thanks

[2015-04-12 18:08] FromBabylon commented on #121
Hi,

Unfortunately php extension gettext is enabled. Which other extensions are required for unmark to work properly ?

[2015-04-13 13:00] jsit opened #122 "Use as server for Mozilla Reading List"
Mozilla has a reading list server that can be used with Firefox 38+:

https://github.com/mozilla-services/readinglist

It would be incredible if Unmark could be set up to be used as a custom reading list server (available in Firefox's about:config under readinglist.server).

[2015-04-18 10:11] ckrack commented on #119
+1
this should be in the notes and in the chrome extension.
if possible also in the bookmarklet.

[2015-04-20 08:31] ckrack commented on #112
Out of personal need i created importers as a custom extension to unmark.
https://github.com/ckrack/unmark/tree/custom-import

I will not create a pull request, as these already seem to be in the private code and the ones i created are tweaked as in creating tags for the bookmark folders of netscape import.
Also the code is not the cleanest, as i tried to use the Mark_Import class without changing

[2015-04-20 18:09] cdevroe commented on #112
Cool @ckrack

[2015-04-20 18:12] cdevroe commented on #119
@tboulogne Thanks for the suggestion. As @ckrack said this is a dupe. So we are going to do it!

[2015-04-20 18:12] #119 closed

[2015-04-20 19:28] ckrack commented on #112
This is how i'd be going about it:
- Create an ``interface`` that all importers use. Basically the ``importFile`` and ``validateUpload`` methods.
- Make the counting and result returning simpler
- uncouple the dependencies in ``Mark_Import``
- add a config option that contains the importers, which is then cycled over in the controller.
``$importers = ['delicious', 'json', 'pocket'];``
that way oth

[2015-04-29 07:58] ckrack opened #124 "chrome-extension: adding note requires two clicks"
When adding a note or tags to a new mark in the chrome extension, two clicks are required.
After the first click on "ADD NOTE", a second click on "Type note text here" is necessary.
This should be one.
I suggest changing the label to: "Add note by typing text here".

[2015-05-03 08:55] tboulogne commented on #119
thanks :-)

[2015-05-04 16:33] bitsandnumbers opened #125 "Where to add metatags ?"
I'd like to add a metatag to get Unmark in fullscreen when opening from a homescreen iPad bookmark. Where should I put it? I see a lot of php files but have no idea how to add this specific metatag inside such files.

Here's the meta in question:
 <meta name="apple-mobile-web-app-capable" content="yes">

[2015-05-11 17:35] simonschaufi commented on #94
did you try to set the RewriteBase to /test/ in .htaccess?

[2015-05-13 15:25] dp87 commented on #103
Unfortunately I am having the same issue. I think all the prerequisites are there:

* mod_rewrite is enabled
* php is version 5.5.24
* mysql is version 5.5.x
* I have created a virtual host for unmark
* The database table and user have been created (the user has permissions to do everything on the unmark table)
* database.php contains the correct credentials

I have also followed @karibuTW 's tuto

[2015-05-16 14:19] cjrobe opened #127 "/setup not found"
I'm stuck at the installation step where you point your browser to unmark/setup. There's no file or folder named setup in the zip I downloaded and when I try and load the URL, I get a 404. Any pointers? Does this mean that my server doesn't support URL rewrites?

[2015-05-16 16:23] Pacien commented on #121
Hi,

I had a similar issue using the configuration file provided on the Wiki.
I obtained blank pages with a 200 status code on `/`, `/setup` or any `.php` file put in the root.

I solved this by adding the following line to the virtual host configuration file in the `location ~ \.php$` section:

[2015-05-16 19:03] FromBabylon commented on #121
@Pacien  Thanks for your suggestion however I already use the config from the wiki with the directive for SCRIPT_FILENAME. I tried `$document_root/$fastcgi_script_name;` `$document_root$fastcgi_script_name;` and even by importing fastcgi.conf (which do the same job..)

[2015-05-20 13:43] Kickball commented on #93
This should check to see if mod_rewrite is enabled in apache2:

<code>if (in_array('mod_rewrite', apache_get_modules())) {
    code
}</code>

And this should be used for detecting the web server:

<code>$_SERVER["SERVER_SOFTWARE"]</code>

[2015-05-20 15:44] fnkr opened #128 "Readability"
Please add the ability to pre-fetch articles through something like the [Readability API](https://readability.com/developers/api) and save the result in the database. Benefits:
- the article is still accessible if the original website is down
- the article is accessible without the need to go to another website
- the article is readable in a clean view: no ads, sidebars, unwanted sharing buttons,

[2015-05-20 17:15] Kickball commented on #102
Any update on this task's progress?

[2015-06-04 19:38] heubergen commented on #128
+1

[2015-06-04 19:38] heubergen commented on #113
+1

[2015-06-05 07:08] thgie opened #129 "Thrown back to Login screen after successful login."
The login procedure works fine. I get feedback if login credentials are correct or not. Upon successful login, as indicated by the white tick mark, I get thrown back at the login screen directly.

The installation runs on a standard lamp stack online. I had no errors during installation.

[2015-06-05 12:04] thgie commented on #129
Managed to get the logs working.

[2015-06-05 12:04] thgie commented on #129
### log of failed login (wrong password)

[code]

[2015-06-05 12:04] thgie commented on #129
### log of successful login (indicated by the white tick)

[code]

[2015-06-13 06:29] vits commented on #71
Hi, got this problem and found the reason, at least in my case. If you don't have mod_rewrite enabled for Apache, everything *almost* works, registration form is shown and can be submitted, but returns error shown in above image. Enabled mod_rewrite and everything works fine.

[2015-06-19 10:04] letunglam commented on #128
+1

[2015-06-19 14:22] cdevroe commented on #128
@fnkr -- I'd be all for this happening. Any chance you'd like to take a crack at it?

[2015-06-19 14:46] fnkr commented on #128
Basically yes, but probably it's not going to happen during the next few months. Not enough freetime :(

[2015-06-20 14:32] psybermancer commented on #127
I'm having exactly the same issue.

[2015-07-03 13:42] lajlev commented on #127
Make sure to transfer the `.gitignore`and `.htaccess` file to server

[2015-07-03 13:48] lajlev commented on #129
![unmark](https://cloud.githubusercontent.com/assets/133836/8500280/db30de22-219a-11e5-8370-646aac2f2e6e.gif)
I get the same error.

[2015-07-03 13:49] trotzendorff commented on #127
Yay! Thanks a lot your your solution! Blame it on the heat in Germany. ;-)

[2015-07-06 19:16] cdevroe commented on #127
@trotzendorff @cjrobe Can this be closed?

[2015-07-06 19:17] cdevroe commented on #129
@thgie I'm trying to determine what the error is here.

[2015-07-06 19:19] cdevroe commented on #125
@bitsandnumbers If you're asking how to add to the HTML... that file is: /application/views/layouts/header.php

[2015-07-06 19:19] #125 closed

[2015-07-06 19:19] cdevroe commented on #124
@ckrack Good suggestion. Want to add that and submit a PR? https://github.com/plainmade/unmark-chrome

[2015-07-06 19:20] cdevroe commented on #122
Any other Firefox users want this? If so, please chime in on how to make this happen.

[2015-07-06 19:21] cdevroe commented on #121
@FromBabylon Were you ever able to solve this issue? Any other nginx peeps have feedback?

[2015-07-06 19:23] cdevroe commented on #111
@nothing-fr We made this choice very much on purpose. Some of our very early builds of Unmark didn't even have a way to delete a mark but we eventually settled on giving people _some_ way of doing so.

If you'd like to create a way to do this please feel free to modify your local version as we do not think we'll make this change across the entire application.

What does everyone else think?

[2015-07-06 19:51] thgie commented on #129
Thanks. Tell me if I somehow can gather more information for you.

On Mon, Jul 06, 2015 at 9:17 PM, Colin Devroe < notifications@github.com [notifications@github.com] > wrote:
@thgie [https://github.com/thgie] I'm trying to determine what the error is here.

—
Reply to this email directly or view it on GitHub
[https://github.com/plainmade/unmark/issues/129#issuecomment-118968285] .[https://github.

[2015-07-07 07:58] lajlev commented on #129
Let me know if it's useful for you to get FTP, mysql access to a setup where it happens :)

[2015-07-07 09:06] trotzendorff commented on #127
Fine for me. Thanks!

[2015-07-07 14:10] #127 closed

[2015-07-07 15:25] cjrobe commented on #127
I have both .gitignore and .htaccess on my FTP but still no luck.

It says "The requested URL /index.php was not found on this server."

Here's the URL if it helps.
http://cory-r.com/bmarx/setup

[2015-07-07 15:26] trotzendorff commented on #127
Ok, that's not a problem of those files. »At this point Unmark has to be installed on the root of your subdomain. Installation of Unmark in a sub directory is unsupported at this time. Keep tabs on our progress with this issue by monitoring this issue.« So if you try to again install it in the root of http://cory-r.com/, everything should be fine.

[2015-07-07 15:30] cjrobe commented on #127
Thanks for the response. I just noticed that when I loaded http://cory-r.com/bmarx/ and the image 404'd.

I'm in the process of creating a subdomain bmarx.cory-r.com. That should solve the issue, correct?

[2015-07-07 15:32] trotzendorff commented on #127
Correct. I also installed Unmark in a subdomain and it works perfectly.

[2015-07-25 08:19] jwbargsten commented on #111
In terms of workflow, doesn't matter if it is email, selecting holiday destinations or saving stuff in your brain, it basically works the same (also GTD, getting things done, is based on this). You have a inbox, document with candidates or short term memory. Back to unmark: after initial "mark as interesting" (which you do by adding the link to unmark), you revise and throw out. This is the approa

[2015-07-27 17:34] cdevroe commented on #111
@jwbargsten Thanks for the feedback.

[2015-08-11 15:18] cdevroe commented on #129
@thgie @lajlev What I meant was, what error is happening? Just the redirect back to the login screen? Are you sure the user exists in the database?

[2015-08-11 15:19] cdevroe commented on #97
@williamknauss Any direction for @tbleiker here?

[2015-08-18 13:59] cdevroe opened #130 "Main bookmark list layout issue"
A recent pull request introduced a layout issue with the main bookmark list. I haven't been able to track down the exact cause yet.

https://www.dropbox.com/s/yyymkx3dywekwe8/Screenshot%202015-08-18%2009.58.53.png?dl=0

[2015-08-18 14:01] cdevroe opened #131 "Proposal: Remove Password complexity requirements"
I know these have been a sore issue since day 1. Having some sort of complexity requirements can make sense... however, in general people hate them.

Thoughts? Suggestions?

[2015-08-18 15:08] cdevroe commented on #130
I'm going to re-open this issue since the layout issue still occurs when viewing the sidebar navigation.

[2015-08-18 15:19] cdevroe commented on #130
Also when a mark is archived.

[2015-08-25 21:01] #130 closed

[2015-08-25 21:01] #131 closed

[2015-09-11 16:54] crsaracco commented on #49
This seems to have re-occured for me on firefox 40.0.3.

[2015-09-11 17:38] crsaracco opened #132 "Compressed view (or, custom CSS)"
There's a lot of extra whitespace in the marks list. I'd like a compressed view so I can see more mark titles at the same time.

[2015-09-16 06:07] ajohnson23 opened #133 "Does search only search page titles, or content as well? [Feature Request]"
Hello,

Does the search feature within Unmark support searching page content, or just page titles?

Thanks.

[2015-09-17 14:18] cdevroe commented on #133
@ajohnson23 It doesn't cache much page content locally -- just title, url, oembed, and your notes. So while it doesn't search page content it does search your notes field.

[2015-10-01 02:48] ghidra commented on #97
Wanted to chime in here, to see if there is any news on this.
I am running into the same issues that have been reported in the original ticket.

[2015-10-01 21:48] drupallerina opened #134 "Feature request: add new users"
Hello,

First, unmark is really cool. I've been looking for a good application for my bookmarks for a long time and unmark seems to fit!
I just installed it on my server and immediately wanted to give access to my family but I can only find the option to invite people to unmark.it
It would be awesome if I could invite people to my unmark it installation.

[2015-10-12 16:14] cdevroe commented on #134
@drupallerina The installable version of Unmark is more tailored to a single-user experience. However, you can edit this file to point towards your install URL https://github.com/plainmade/unmark/blob/master/application/views/layouts/accountlinks.php

[2015-10-16 23:37] nitinthewiz opened #135 "http://nilai.co/marks/add error"
http://nilai.co/marks/add

redirects to

https://ummark.it/marks/add

instead of

https://unmark.it/marks/add

[2015-10-20 05:46] ghidra opened #136 "notes not saving"
When writing a note when making a bookmark, if I do not change the label after, the note will not save. For example, marking a youtube video, unmark automatically applies "watch" label. Leaving a not, and saving will not save the note. So to make it save the note, I must change the "watch" to something else then back to "watch".

This is specifically happening on my install of unmark on my persona

[2015-10-20 13:26] cdevroe commented on #136
@ghidra Thank you for reporting this. Can you open your browser's Console and see if the request to save the note is being sent and rejected? This is done asynchronously.

[2015-10-23 02:45] ghidra commented on #136
Hi sorry, I havent forgotten this. I just havent saved any links in 3 days... And since I havent figured out to delete marks yet, I'm waiting till I have a link to save, and I will report back!

[2015-10-26 14:58] cdevroe commented on #136
@ghidra To delete a mark, archive it first, then go into the archive and delete it from there.

[2015-10-27 00:23] ghidra commented on #136
Thanks for taking the time to look at this.
I just tried to save a new mark that was a random site, that gave me unlabeled, wrote a quick note, with the console open... but of course, it closed as soon as i hit submit.
As well, it did NOT save my note as expected.
Sorry for the very noob question, how would you suggest watching the console and having it not close on submit... not use the bookmarkl

[2015-12-12 23:04] baratox opened #137 "HTTP 500 on /setup"
I'm unable to setup Unmark with Ubuntu 14.04, Apache 2.4.7, PHP 5.5.9-1ubuntu4.14 and MySQL 5.5.46.

/setup returns HTTP 500, a blank page and no log (apache, php or application/logs).
Any help on how i can troubleshoot this?

Site seems to be configured and executing, i see unmark's 404 page when trying to access an invalid URL.

Thanks!

[2015-12-13 21:02] baratox commented on #137
Setting `$config['log_threshould'] = 4` in *application/config/config.php* adds just a few lines to the application log when accessing */setup*, but nothing on the error:

    DEBUG - 2015-12-13 18:57:04 --> Config Class Initialized
    DEBUG - 2015-12-13 18:57:04 --> Plain_Config Class Initialized
    DEBUG - 2015-12-13 18:57:04 --> Hooks Class Initialized
    DEBUG - 2015-12-13 18:57:04 --> Plai

[2015-12-16 14:10] ajohnson23 commented on #133
I just have to say (in my opinion), this limits the usefulness of unmark quite significantly. If page content isn't cached and searched, that means I have to be very thorough in my tag/naming choices, which is practically impossible, so I'll end up not being able to find a bookmark later because I can't think of the "correct" search term to use to find it.

I'd like to convert this into a feature

[2015-12-16 14:23] cdevroe commented on #133
@ajohnson23 This creates a fair amount of complexity in the application. Perhaps Pinboard's Archiving account, which I believe caches a copy of the site, may be of better use to you? https://pinboard.in/upgrade/

[2015-12-16 14:29] ajohnson23 commented on #133
Hi cdevroe:

You're the first company I've seen in this space that adopts a sensible attitude regarding open source and self hosting vs. what's out there, including pinboard.

Currently the following services offer something similar, but have no open source / self-hosted solution, so I refuse to pay for them since my data and the functionality is held hostage on their servers and goes poof if they

[2015-12-16 14:30] ajohnson23 commented on #133
Don't get me wrong, though -- I know this adds a fair bit of complexity. I just happen to think it's worth it.

[2015-12-16 14:32] ajohnson23 commented on #133
I'm also trying to convince some of those companies on my list to adopt a more sensible attitude toward self-hosting/open source, but I'm not holding my breath on that -- I actually think there's a better chance of you adding this functionality, so that's why I've opened this ticket :)

[2015-12-20 23:45] cherepo commented on #137
Same thing here, downloaded the latest release package and setup got blank page.

[2015-12-25 19:24] cdevroe commented on #137
@baratox The log file should contain an error if there is one at the PHP level. A few common things that others have missed;

- Unmark requires gettext extension to be compiled and loaded with PHP. This has resulted in a "blank page" for some -- though in those instances the log file shows that bindtextdomain() is not defined.
- The last thing to load in your error log appears to be the Database c

[2015-12-25 19:26] cdevroe commented on #136
@ghidra Notes save on blur so you do not need to click "submit". Alternatively you can edit notes from the main interface.

I haven't seen this issue reported by anyone else and I haven't experienced it myself. Please see if you can confirm the issue and send us the error.

[2015-12-25 19:27] cdevroe commented on #135
Thanks. This must be only in our Unmark.it nginx routes. We doubt anyone is access Nilai anymore. But we'll see if we can get this fixed up. Thanks for reporting it.

[2015-12-25 19:27] #135 closed

[2015-12-25 19:28] cdevroe commented on #134
We're going to close this out as we won't be adding multi-user support to Unmark in the near future.

[2015-12-25 19:28] #134 closed

[2015-12-25 19:29] cdevroe commented on #133
Only marking this as invalid as we're not going to be adding full page text search. We really want to stick to our "mantra" of "the to do app for bookmarks". If people would like a more robust archiving system we wholeheartedly recommend Pinboard.

[2015-12-25 19:29] #133 closed

[2015-12-25 19:31] cdevroe commented on #129
@lajlev @thgie Have either of you dug into these issues?

[2015-12-25 19:31] cdevroe commented on #128
@heubergen @letunglam Either of you want to tackle this?

[2015-12-25 19:31] #124 closed

[2015-12-25 19:32] cdevroe commented on #122
@jsit Have you done any investigating on how to pull this off?

[2015-12-25 19:32] heubergen commented on #128
Soory @cdevroe I'm not a dev :(

[2015-12-25 19:33] cdevroe commented on #121
I'm going to close this ticket as it has been six months.

[2015-12-25 19:33] #121 closed

[2015-12-25 19:34] cdevroe commented on #118
I'll have to clean up Milestone 1.6.3 since the person that was working on that build has abandoned development on Unmark. But this should still make the cut for an upcoming release.

[2015-12-25 19:35] cdevroe commented on #114
There is a PR #116 that addresses part of this issue. This will be rolled into the next release.

[2015-12-25 19:35] #114 closed

[2015-12-25 19:35] cdevroe commented on #132
@crsaracco Feel free to create a PR so we can see what you have in mind.

[2015-12-25 19:37] cdevroe commented on #113
@Menti @heubergen We likely won't get to this within the next few builds. But if either of you would like to submit a PR with some options on how to tackle this for people's local installs... that'd be great.

[2015-12-25 19:37] cdevroe commented on #96
Going to close this off as it is pretty niche. If anyone runs across this issue in the future please create a new issue for it.

[2015-12-25 19:37] #96 closed

[2015-12-25 19:38] thgie commented on #129
Sorry, no :) didn't have the time yet.

On Fri, Dec 25, 2015 at 8:31 PM, Colin Devroe < notifications@github.com [notifications@github.com] > wrote:
@lajlev [https://github.com/lajlev] @thgie [https://github.com/thgie] Have either of you dug into these issues?

—
Reply to this email directly or view it on GitHub
[https://github.com/plainmade/unmark/issues/129#issuecomment-167259520] .[https://gith

[2015-12-25 19:39] cdevroe commented on #97
@tbleiker @ghidra Do you two still have this issue? And is it only on nginx? If your server is "downloading a PHP file" my guess is something is misconfigured other than the application.

[2015-12-25 19:39] cdevroe commented on #28
Just an update... over a year later, this is still something we plan on adding to Unmark.

[2015-12-25 19:40] cdevroe commented on #38
@Menti Honestly, I'm rethinking the usage of gettext. Many, many people's first experience with Unmark is marred with PHP errors because they need this extension configured or compiled or included in some way that they do not have by default. It has caused a lot of issues.

We may look into a much more simple alternative.

If anyone has ideas please put them forth.

[2015-12-28 19:34] cdevroe opened #138 "Language support with less dependencies"
The first experience many have with the Unmark open source project is marred due to the dependencies of gettext extension not be included with PHP by default. I'm starting to do research on a much more simple language feature that would preserve our ability to support internationalization but have zero added dependencies.

Any suggestions and up votes or down votes welcome.

👍🏻 or 👎🏻

[2015-12-28 19:43] cdevroe opened #139 "Build routine and repository clean up"
Currently the repository tracks changes to files that are unneeded. Also, the build routine for Unmark should also create a zipped release without the repository included so that those that would prefer to download a zip or tar of Unmark they don't need to download the entire history of changes. This means the "releases" on Github would become a binary download rather than a zipped version based o

[2015-12-28 19:43] cdevroe commented on #139
Any feedback or suggestions prior to us tackling this?

[2016-01-07 15:19] baratox commented on #137
@cdevroe I've managed to identify problem with the permissions of the database user by creating a custom PHP database client.

If there is a configuration error, the logs do not provide any help, only "Database Driver Class Initialized" is logged. It can be useful to print the database error code or message when a DB command fails. I've seen some exception handling in the code but this did not hel

[2016-01-10 12:34] ckrack commented on #129
I had the same problem.
It seemed to be related with the usage of AJAX?

I think i got around by properly reloading, dismissing the cache.

[2016-01-10 12:36] ckrack commented on #128
@cdevroe i can only guess what the cronjobs for oembed do (they don't seem to work in the oss version?).
But would that be a possible approach to get the content in a similar manner?

[2016-01-11 15:08] cdevroe commented on #128
@ckrack You can set them up on your local install if you'd like... they allow the previews in the app to work such as video, soundcloud, recipes, etc.

[2016-01-13 21:34] ckrack opened #140 "Feature: Filter by multiple tags"
Should be self explanatory.

[2016-01-13 21:35] ckrack opened #141 "Feature: Edit/delete tags"
Editing tags should change them in the tags table in the database, but also in the comment field.

[2016-01-13 21:36] ckrack opened #142 "Feature: Bulk edit marks"
Select marks, select what you want to change (e.g. archive all), and push the change with a button.

[2016-01-15 06:10] mfpost opened #143 "Blank page on setup"
I am trying to get unmark to run on my DigitalOcean droplet.  I am running ubuntu 15.10.  I have wordpress installed (on www.myDomain.com).  I am using nginx.  I am trying to run unmark at unmark.myDomain.com, but when I go to unmark.myDomain.com/setup I just get a blank page.  I used the non-ssh config from here (https://github.com/plainmade/unmark/wiki/Nginx-Configuration).  I pasted that into t

[2016-01-15 08:05] nitinthewiz commented on #143
@mfpost could you please post your nginx config? Also, did you paste it into the same config file as your wordpress file? You'd be better off using different files in the sites-available folder as seen below -

https://www.digitalocean.com/community/tutorials/how-to-set-up-nginx-virtual-hosts-server-blocks-on-ubuntu-12-04-lts--3

[2016-01-16 00:02] mfpost commented on #143
I'm sorry I haven't been using nginx too long what config file are you wanting, where do I find it?  I have attached the server blocks for wordpress and unmark.  I separated them out like you recommended, but I am still having the same issue.  In fact it made things worse for WP.  Now WP has some of the background colors messed up.  I am guessing it can't find a style sheet or something like that.

[2016-01-17 08:08] nitinthewiz commented on #143
@mfpost look for solutions here -
http://stackoverflow.com/questions/11693135/multiple-websites-on-nginx-sites-available
and
https://www.linode.com/docs/websites/nginx/how-to-configure-nginx

This is where these files sit -
/etc/nginx/sites-available/

Essentially, you make different files for each site which would start off as a copy of the default file and then have syntax specific for each type

[2016-01-21 02:13] mfpost commented on #143
Thanks for the help.  I finally got it working.  Not really sure what fixed it.  But after I got my wordpress working unmark started working fine.

[2016-01-21 02:13] #143 closed

[2016-02-28 18:12] SergiuCip opened #145 "Containerize unmark?"
Hello there,

The app is great but I am having a hard time setting up. I have done it once, but there's no users, even though I've created one at setup.

As many people including myself have found it difficult to install the application, wouldn't be good if someone who successfully installed the unmark could create a docker container?

Thanks and great app!

[2016-03-07 15:55] flawiddsouza opened #146 "Update mysql to mysqli in database-sample.php"
According to https://www.codeigniter.com/user_guide/database/configuration.html `mysql` is deprecated and `mysqli` should be used instead. Though, I could be wrong. I had to change mine to `mysqli` to get it to work. `mysql` requires you to use the older `mysql` extension which isn't shipped with PHP anymore.

[2016-03-11 00:29] Larnal commented on #137
@baratox Hi, I got the same problem you had, unfortunately I am not very experienced in debugging nor developping, can you explain the procedure you used to fix this issue ?

I am on OSMC (modified Raspbian on Rpi2) with PHP 5.6.17, Nginx 1.6.2 and MySQL 5.5.47.

Thank you very much.

[2016-04-06 06:56] sriak commented on #129
I'm having the same issue, when trying to log in with right user name and password, I'm also redirected to login screen. When I enter a wrong password, it shows the right error message.

However, when I register a new user, I get connected right after, but when disconnected, I can't login again.
Properly reloading and using different browsers on different computers didn't help.
Also the users are

[2016-04-06 13:48] geoweb-sk commented on #129
I have a same problem, when I try to login it redirects me to login screen.

I check a console an the login response is { success: true, redirect_url: "/marks" }

My setup:

- PHP 5.5
- MariaDB 5.5
- Apache with url rewrites enabled

[2016-04-22 23:10] thebrandonallen commented on #129
I was having the same issue, so I took some time to dive in, and work it out.

The first issue is that Umark currently uses CodeIgniter 2.1.4, which was released almost 3 years ago. Newer versions of PHP now throw fatal errors where they once threw warnings or notices, and CodeIgniter 2.1.4 release contains a number of these, now fatal, errors. It should be noted that 2.2.6 will be the last releas

[2016-05-12 23:14] virtadpt commented on #112
del.icio.us, which only allows export to HTML.

[2016-05-16 05:44] virtadpt commented on #112
@ckrack you are a sir among beings - I just used your branch to import several thousand bookmarks from del.icio.us after a weekend of hacking to write a Netscape bookmarks-to-Unmark JSON document converter.  Your code just saved my sanity - PLEASE file a pull request!

[2016-05-16 05:46] virtadpt opened #148 "Please officially document the import JSON document format."
Hi.  Please write canonical documentation for the JSON document import format.  I've spent the last couple of days writing a Netscape bookmarks-to-JSON converter, without much success.  Some of the fields are self-explanatory, but others (tags: {}) don't seem to make sense (shouldn't tags be a list and not an object?)

At the very least it'll make things significantly easier for those of us who ar

[2016-06-02 19:07] GhostCyborg opened #149 "Database Error"
I seem to be getting this error, when running setup:
`Error Number:
SELECT * FROM (`plain_sessions`) WHERE `session_id` = '1fa038a0829874e0786be537f54e4f8b'
Filename: /home/user/public_html/Bookmarks/libraries/CIDatabaseSessionHandler.php
Line Number: 92`

[2016-06-02 19:15] #149 closed

[2016-06-05 07:53] agiannis opened #150 "Blank page on /setup using local apache on windows"
I get a a blank page when viewing /setup. I am using apache,mysql,php on windows with php 5.6.
Everything is setup following the instructions.
The host I use locally is http://local.unmark/

Here is my log.
[code]

[2016-06-06 20:22] quizzmaster opened #151 "Export function only leading to a blank page"
If i try to export my bookmarks on my self-hosted unmark site i only get a blank page and need to login again. Anything I can check or any solutions to solve this?

[2016-06-12 18:23] MVprobr commented on #58
Still with this error.

[2016-06-21 18:04] bryce-admin commented on #28
Any word (especially with HTTPS-only sites that the bookmarklet ignores)?

[2016-06-21 22:48] nitinthewiz commented on #28
@bryce-admin The problem with HTTPS sites is that your browser (mostly Chrome) notices that an insecure (HTTP) script is being loaded on top of a secure (HTTPS) site. This throws an error which you can observe in the browser console. I use Fever RSS and HTTPS based blogs show the following error when I try to use my subscribe bookmarklet -

Mixed Content: The page at 'https://www.instagram.com/' w

[2016-06-30 19:58] bryce-admin commented on #92
It still hasn't been fixed.  Moreover, it seems to not work on any site that uses SSL/TLS.  I've had to do the following in another browser tab to add those links:

http://links.example.com/mark/add?url=https://ssl.tls.whatever.example.com/foo.html

[2016-06-30 23:36] nitinthewiz commented on #92
@bryce-admin that's a nice workaround!

[2016-08-30 10:50] cdevroe commented on #129
@thebrandonallen I'm going to test this on our end and merge this in. Yes. Months late. However, I'm picking up the 🏀  here and will be starting to clean up Unmark.

[2016-08-30 11:00] cdevroe commented on #93
All: Would anyone like to pick up the ball here? Or is there any proposal to simply ditch it in favor of fixing the "set up" bugs that come along with CodeIgniter. I think upgrading the app to a current version of CodeIgniter will solve a lot of setup issues.

[2016-08-30 11:07] cdevroe commented on #138
I'd like to bring this back up. It has been nearly a year and I am now going to revisit this issue. But any feedback at all is welcome here. gettext continues to be an issue for many.

[2016-08-30 14:30] cdevroe commented on #145
@SergiuCip I agree. _Something_ has to happen to make it easier to install. I'm not sure if adding more dependencies (like knowing what Docker is) is the answer. But _something_ should be done.

One thing that could help is the recent PR #153 which fixes a few issues people have had just after setting up. Next will be to continue to chip away at issues inherent with CodeIgniter applications at set

[2016-08-30 14:38] cdevroe commented on #151
@quizzmaster Can you pull down PR #153 and see if it fixes you're issue please?

[2016-08-30 14:39] cdevroe commented on #150
@agiannis Just to be certain, can you pull down PR #153 to see if it fixes your issue?

[2016-08-30 14:40] cdevroe commented on #146
@flawiddsouza I'll be sure this gets in an upcoming release.

[2016-08-30 14:53] cdevroe commented on #141
@ckrack Can you explain further what you'd like to happen here? Where do you see "editing tags" happening? Is this mostly to help correct misspellings and the like?

[2016-09-05 05:24] Hans-Maulwurf opened #154 "auto tag?"
Hey guys,
i noticed that the label "watch" is pre-chosen when I mark a youtube.vid. Is there a feature how to create such rules? Where can I see the existing rules? Is it possible to create such rules manually? Maybe in some config-files?

[2016-09-05 13:43] cdevroe commented on #154
@Hans-Maulwurf Unmark does two things out of the box; 1) it has a few preconfigured "smart labels" where we guess what you'd likely label the link based on the domain. YouTube, Amazon, Vimeo, etc. are just a few that we've added that made sense to us. 2) It remembers the last label you chose for each domain. So when you label something from abccompany.com as "Read" Unmark will choose "read" the ne

[2016-09-05 13:43] #154 closed

[2016-09-05 20:12] Hans-Maulwurf commented on #154
Ah ok, I see. Thanks for the explanation. So it's only possible to auto-label the marks by domain, right? Is it possible to do this also by keywords of the title or the (preview-)content?

Is there a function that does the same with tags and not only with the label?

[2016-09-05 20:24] Hans-Maulwurf commented on #55
this would be an awesome feature

[2016-09-06 12:54] Kovah commented on #148
I could need some more information about that too. Wrote a Python script to convert my Del.icio.us bookmarks but not a single generated JSON file was accepted. The closest I could get was this by using the export file itself but added some (~15) own marks.
![screen shot 2016-09-06 at 14 53 22](https://cloud.githubusercontent.com/assets/1816101/18274225/b41dd16e-7441-11e6-8d1f-74ce0802a228.png)

[2016-09-06 13:41] cdevroe commented on #148
@virtadpt @Kovah I will try to get to this this week.

[2016-09-12 14:37] #146 closed

[2016-09-12 14:38] #129 closed

[2016-09-13 13:04] cdevroe opened #156 "Import from Readability"
A proposal to import your Readability list.

https://twitter.com/Darice/status/775680361384861696

Can someone give us a dump of their Readability bookmarks? I exported mine but I had none!

[2016-09-13 13:22] cdevroe commented on #151
@quizzmaster Were you able to try this? You can also update to 1.7.0 to see.

[2016-09-13 13:28] cdevroe commented on #151
@quizzmaster I was able to replicate this issue. Looking into it.

[2016-09-13 14:57] Darice commented on #156
Here is my Readability export. It's a json file.

[readabilty-export.json.zip](https://github.com/plainmade/unmark/files/470124/readabilty-export.json.zip)

[2016-09-14 17:44] cdevroe commented on #156
@Darice Thanks! I'll get working on this today.

[2016-09-14 17:45] cdevroe commented on #150
@agiannis Also, I just created #157 that further addresses a lot of set up issues. Could you please take a moment to give that particular PR a spin?

[2016-09-14 17:46] cdevroe commented on #137
@baratox @Larnal Please try #157 to see if this cleans up your issues. It should.

[2016-09-14 17:47] cdevroe commented on #93
I think the current set of installation instructions are simple enough. Removing this.

[2016-09-14 17:47] #93 closed

[2016-09-14 17:47] #94 closed

[2016-09-14 17:48] #97 closed

[2016-09-14 18:03] xrat commented on #94
So, installation in a sub directory is supposed to work now? Because it still says otherwise in `readme.md`.

[2016-09-14 18:04] cdevroe commented on #94
@xrat Try #157 and see if it works.

Otherwise, we'd love it if someone else tackled this as we're unsure if we'll support it out of the box. Would you mind making the needed updates and submitting a Pull Request?

[2016-09-14 18:09] xrat commented on #94
Ah, I missed #157. Sorry, but I am not a programmer. Can't help much with the code.
I was following this as I wanted to install Unmark on a server with an existing SSL certificate. Since I have just switched to Let's Encrypt I might just as well create a new subdomain.

[2016-09-14 22:11] cdevroe commented on #156
@Darice You can give #158 a try and see if it works for you.

[2016-09-15 11:49] cdevroe commented on #148
@Kovah I'm doing this now.

More importantly, I will document Unmark's _Export_ JSON format as it should be thought of (at this point at least) as more of a "backup" of someone's Unmark install rather than an export/import schema.

However, I'll write up a doc so we all understand the JSON schema.

To import from Delicious, though, you could do what I did over on #158 to import Readability -- whic

[2016-09-15 12:04] cdevroe commented on #148
@virtadpt @Kovah Please see branch:148-export-schema

Here is the document: https://github.com/plainmade/unmark/blob/148-export-schema/export-schema.md

I will roll this in when we get PRs #157 & #158 rolled in.

[2016-09-15 12:05] cdevroe commented on #151
@quizzmaster I've fixed this issue in #157.

[2016-09-15 12:18] cdevroe opened #159 "Import from Pinboard"
Requested on Twitter: https://twitter.com/domanske/status/776393711643193344

[2016-09-15 12:21] cdevroe commented on #136
@ghidra Still having this issue? If so, could you try #157?

[2016-09-15 12:23] cdevroe commented on #128
@ckrack @fnkr I find myself wanting this more and more. But mostly for Daring Fireball reviews since John's text is unreadable! ;-)

Honestly, I don't think it will be on our radar until after our redesign is done and we've added some of the upcoming features like custom labels, auto-complete tagging, and contexts.

[2016-09-15 12:25] cdevroe commented on #122
Perhaps a better approach to this would be "importing" from Mozilla's Reading List service moreso than trying to make Unmark work within Firefox.

[2016-09-15 12:28] cdevroe commented on #112
@ckrack I'm going to look through your extension... as I didn't in the past and see what we can pull from it.

[2016-09-15 13:28] jsit commented on #122
Wouldn't you then have to import every time you added a new item to Reading
List? Besides which, Firefox doesn't have a native reading list; it only
works with external/hosted services. So you'd have to use some other
reading list, like Pocket, then export, then import to Unmark. Every time
you added new content.

[2016-09-15 13:29] cdevroe commented on #122
I see, @jsit... my understanding of Reading list was incorrect.

Because our list of things to do is a mile long right now, I don't see myself getting to this very quickly. But it'd be great if you wanted to poke around and try.

[2016-09-15 15:50] cdevroe commented on #156
@Darice Here is this branch as a zip for you to try.
[unmark.zip](https://github.com/plainmade/unmark/files/475035/unmark.zip)

[2016-09-15 17:15] Darice commented on #156
@cdevroe I updated my hosted install to this branch. Imported my Readability json file. Added a new bookmark in unmark just to make sure everything works. No problems. Works fine for me.

Thanks for adding the readability import option!

[2016-09-16 17:53] cdevroe commented on #156
@Darice Excellent!

[2016-09-16 21:03] moltenkaizen commented on #145
Another vote here. A container would be handy. I've spent all day trying to set this up

[2016-09-18 19:31] nospam1961 opened #160 "Issue during setup. mitigation_table variable is not being set."
After clicking "INSTALL" link on the new install (database, user, and password was set in database.php). User has all of the privileges in the database. Version Tested: 1.7.0.

[2016-09-19 14:03] moltenkaizen commented on #160
Very interested, I have the same error. I've re-setup a few times on different VMs to confirm.

[2016-09-19 23:20] nospam1961 commented on #160
@cdevroe Just tried #157. Overwriting 9 files from the fix have done the trick.
Closing issue.
Thank You.

[2016-09-19 23:20] #160 closed

[2016-09-20 14:21] #137 closed

[2016-09-20 14:21] #139 closed

[2016-09-20 14:21] #148 closed

[2016-09-20 14:21] #150 closed

[2016-09-20 14:21] #151 closed

[2016-09-20 14:21] #156 closed

[2016-09-20 14:22] cdevroe commented on #136
@ghidra We just pushed 1.7.1 would you mind trying it? https://github.com/plainmade/unmark/releases/tag/v1.7.1

[2016-09-20 14:23] cdevroe commented on #128
I edited this proposal's title since Readability import was just shipped with 1.7.1

[2016-09-20 14:24] cdevroe commented on #141
@ckrack I'm going to close this because we're preparing to switch Unmark to a more traditional tagging model that has a dedicated spot in the UI for "tags" which would result in what you're saying with updating the index.

(Hope that made sense.)

[2016-09-20 14:24] #141 closed

[2016-09-20 14:28] cdevroe commented on #38
In 1.7.2 we're going to go the more traditional approach of using a standard PHP array rather than what Unmark uses now. It not be as nice but it will certainly have broader acceptance. As such we'll need to convert these files.

I'll give it the first run but I may need help.

(BTW, if anyone would like to join our Slack channel please send me a tweet @cdevroe )

[2016-09-20 17:34] k4r7u opened #162 "Can't log in"
I have installed Version 1.7.1 on a subdomain. Tried cloning via git and extracting the official release.
The setup is working without problems, but after the login I get logged out back to the login page.
The user exists in the database.

The following error is shown in the console:
`assets/js/production/unmark.loggedout.js?v=1474379925726:2 GET https://unmark.mydomain.com/marks 500 (Internal Ser

[2016-09-20 18:28] moltenkaizen opened #163 "Error during setup, then unable to register/login"
Cloned 1.7.1 on subdomain. Setup produces this error:

A Database Error Occurred
Error Number: 1067
Invalid default value for 'datearchived'
ALTER TABLE `users_marks` ADD `datearchived` timestamp NOT NULL
Filename: /var/www/unmark/migrations/002_archive_stats.php
Line Number: 14

If I ignore and refresh I'm redirected to the /register url. No matter what password I try, I'm unable to register. An

[2016-09-20 18:30] moltenkaizen commented on #163
Noted error in console:
<h1>A Database Error Occurred</h1>
<p><p>Error Number: 1054</p><p>Unknown column 'users.user_id' in 'field list'</p><p>

[2016-09-20 18:51] cdevroe commented on #163
@moltenkaizen Was this a fresh install or an upgrade? If an upgrade... did you run /upgrade ?

[2016-09-20 18:52] cdevroe commented on #162
@k4r7u Can you turn "development" as your enviroment on in index.php... try running the app, and then send us your most recent log file in /applications/logs/

[2016-09-20 19:07] moltenkaizen commented on #163
@cdevroe A fresh install here. I've been hacking around trying to get it setup for a few days off and on. I'm sure I must be missing something. I'll drop the db and reclone from git to start fresh.

My steps and the results:

- DROP DATABASE unmark;
- CREATE DATABASE unmark DEFAULT CHARACTER SET utf8 DEFAULT COLLATE utf8_general_ci;
- rm -rf unmark
- git clone https://github.com/plainmade/unmark.g

[2016-09-20 19:46] cdevroe commented on #163
Thanks @moltenkaizen. Odd. I do not get that issue (or any at the moment). Hopefully we can get to the bottom of it.

[2016-09-20 19:50] cdevroe commented on #163
Btw, this is the line in question: https://github.com/plainmade/unmark/blob/master/application/migrations/002_archive_stats.php#L14

Oddly enough a default value is not being specified (which might be the problem?).

[2016-09-20 19:52] cdevroe commented on #163
BTW, the error you're getting AFTER running /setup is because migrations are not completing for you. Your database is woefully out-of-date. You could try running /upgrade but that likely will result in a similar error.

I'm going to try a fresh install here yet again. And see if I can't see that same issue.

[2016-09-20 20:26] k4r7u commented on #162
This is what I get:
[code]

[2016-09-21 08:49] zu opened #164 "Whites Screen after login"
Installation seemed to go smoothlie but after I login I only get a white screen.

Now I changed to development environment and I get follwing log:

`DEBUG - 2016-09-21 10:43:30 --> Config Class Initialized
DEBUG - 2016-09-21 10:43:30 --> Plain_Config Class Initialized
DEBUG - 2016-09-21 10:43:30 --> Hooks Class Initialized
DEBUG - 2016-09-21 10:43:30 --> Plain_Hooks Class Initialized
DEBUG - 2016-

[2016-09-21 12:57] cdevroe commented on #164
@zu Thanks for reporting this. This is a result of a bad merge. Really appreciate it. Going to submit a patch this morning. Waiting for ☕️  to kick in. ;-)

[2016-09-21 13:08] cdevroe commented on #164
@zu Can you try 1.7.1.1 https://github.com/plainmade/unmark/releases/tag/v1.7.1.1

[2016-09-21 13:09] cdevroe commented on #163
Can you try a fresh install with https://github.com/plainmade/unmark/releases/tag/v1.7.1.1 - Thank you.

I don't know if your issue is related but I've been unable to replicate it here so perhaps it is.

[2016-09-21 13:16] cdevroe commented on #162
@k4r7u What is your language set to in /application/config/config.php? It should be "english" by default. No need to change it.

Also, try the latest release if you could: https://github.com/plainmade/unmark/releases/tag/v1.7.1.1

[2016-09-21 13:16] zu commented on #164
Thanks, it looks much better now!
No problems, it works.

[2016-09-21 13:54] #164 closed

[2016-09-21 16:32] k4r7u commented on #162
Upgrading to 1.7.1.1 has solved the issue for me. Log in works instantly.
Thanks for your help

[2016-09-21 16:32] #162 closed

[2016-09-21 17:57] moltenkaizen commented on #163
hey @cdevroe , I tried the new build on the Ubuntu 14 server I'd been working with, but unfortunately the same error after hitting the install link on /setup
[code]
I wanted to rule out that server by trying another. I setup from scratch on Arch Linux with nginx 1.10.1-1/ mariadb 10.1.17-1 / php 7.0.11. Unmark installed and is running just fine.

My ulimate goal was to have it installed on a produ

[2016-09-22 12:16] cdevroe commented on #163
@moltenkaizen Can you give us the phpinfo() from both servers? Also, your application logs once development environment is turned on. If possible. Thanks so much.

[2016-09-23 06:59] zu opened #165 "Password reset link not working"
It looks like the password reset link uses a strange kind of IP6 address instead of the domain and is not working. I was able to replace the ip address with the domain in the url manually and then it worked.

But it's a bit strange.

Original URL (without the unique hash of course) I got by mail:

`http://2a00:1158:400:406::14e/password_reset/...`

Is this a configuration issue or a bug?

[2016-09-23 07:26] zu opened #166 "Chrome Extension"
The Chrome extension ist nice - but only allows for adding bookmarks to the hosted service.
It should be possible to change the URL and credentials in the options.

[2016-09-23 18:21] cdevroe commented on #165
@zu Can you tell me if base_url is set in your configuration?

[2016-09-23 18:23] cdevroe commented on #166
@zu  Please see the "Using your own host" section of the readme: https://github.com/plainmade/unmark-chrome#using-your-own-host

[2016-09-23 18:23] #166 closed

[2016-09-23 18:34] cdevroe commented on #163
@moltenkaizen I don't want to close this issue until you've been able to get us the info. Obviously it is an environmental issue. But I wouldn't mind knowing what it is ... especially for posterity's sake.

[2016-09-23 19:09] moltenkaizen commented on #163
@cdevroe both arch and ubuntu 14 are working now. I can still post the configs if desired, but the latest release appears to be working. Thanks for all your efforts

[2016-09-24 18:26] ghost opened #167 "CSS broken on Firefox 49.0.1"
The Unmark layout overflows in both width and height in Firefox 49.0.1.
I'm not sure if this issue is present in other versions.

[2016-09-26 16:31] cdevroe commented on #165
@zu Please see above.

[2016-09-26 16:56] cdevroe commented on #167
@sooprdogg We'll look into this, thanks for reporting it.

[2016-09-26 17:14] zu commented on #165
Hi @cdevroe

I'm not sure, if base_url was set.

But the problem most likely was, that I had a micture between http & https

[2016-09-27 13:59] cdevroe commented on #159
In #168 I've added Delicious HTML import. Pinboard has a "HTML" export that _appears_ to be the same as Delicious's in that it follows the Netscape import/export options.

Do we think this would be "good enough" support for Pinboard? I just imported over 3,000 marks from Pinboard and it worked great.

[2016-09-27 14:03] cdevroe commented on #112
In #168 both Delicious and Pinboard now can be imported using their HTML format.

[2016-09-27 17:47] moltenkaizen opened #169 "Feature: LDAP Authentication. Or other method to manage many users in unmark"
We're experimenting with unmark to deploy for 800 users.

LDAP Auth would be really amazing.

If that's too much to ask, perhaps adding users with some sort of admin management web UI.

What is the hashing method in the users table in the db? Worst case, I might be able to bulk import users with a script to INSERT directly into that table.

[2016-09-28 17:58] cdevroe commented on #169
@moltenkaizen We have our own build of Unmark that has some basic user management for unmark.it however we do not have that code in an open repository.

Of course, there are ways to add more uses. There are config variables specifically suited to turning on user registration and, as you can see in the code, there are methods for adding users such as https://github.com/plainmade/unmark/blob/master/

[2016-09-29 23:15] sooprdogg commented on #167
@cdevroe Of course! So sorry to keep you waiting. This is specifically on Windows.
![capture](https://cloud.githubusercontent.com/assets/20822849/18975563/a24cb400-8670-11e6-9f1b-23d063b1c5e2.PNG)
![capture2](https://cloud.githubusercontent.com/assets/20822849/18975565/a455f45a-8670-11e6-9f01-2bc656be3d74.PNG)

[2016-09-30 17:23] virtadpt commented on #145
Unmark is a PHP application.  Running it inside a container isn't going to get you much because you'll have to install Apache, PHP, MySQL, and everthing else inside it, and in the final analysis all of the .php files are going to be executed server-side inside of the PHP interpreter.  If unmark was a node.js or a Rails application, that would make sense.

Did you try installing Unmark inside of a

[2016-09-30 17:25] cdevroe commented on #145
@virtadpt I think @moltenkaizen has solved his issues using the latest release.

And though containerizing Unmark would make some sense because all dependencies could be wrapped up in a box... I think the better use of our time (read: mostly my time) will be to remove the dependencies. The last biggie is gettext which I plan on removing ASAP.

[2016-09-30 17:26] virtadpt commented on #111
I'd like to second making links easier to delete.  One of my use cases for Unmark is temporarily storing links to stuff that I write articles about, and when the article's done (and the links are referenced from the article) being able to delete the links from Unmark will keep things neat and tidy (especially when using Unmark as a personal bookmark manager in addition to keeping track of links to

[2016-10-04 14:03] #169 closed

[2016-10-04 14:04] #165 closed

[2016-10-04 14:35] cdevroe opened #171 "Bookmarklet URL not based on base_url"
Currently the bookmarklet URL is based on the base_url in config. I'd like to update this so that it is based on whatever the current URL is rather than needing to update config. One less thing a new user needs to do.

[2016-10-04 16:49] cdevroe opened #172 "Import help text update"
On the Import/Export panel the help text reads "Note: The import needs to be a JSON file." and that is no longer the case with Readability, Delicious, and Pinboard support.

[2016-10-04 16:50] #145 closed

[2016-10-05 15:16] cdevroe opened #174 "Unmark 1.8 checklist"
Things left to do for version 1.8 - codename:
- [x] Stop editing button doesn't work
- [x] Labelling doesn't work
- [x] Mobile navigation interactions
- [x] Check all internal features styling (featured links, payments, etc.)
- [x] Move search box into List Header
- [x] Remove search from navigation
- [x] Force navigation to be always open on load
- [x] Remove labels from navigation and put under

[2016-10-05 20:44] cdevroe commented on #174
- [ ] View mark info button doesn't work on "page 2" in infinite scroll

[2016-10-06 11:58] cdevroe opened #175 "Import from Unmark JSON results in file error"
Found in 1.7.1.1.

[2016-10-07 01:39] tulkraykja46jdg opened #176 "installation troubles"
Ubuntu 14.04
php 5.5
Apache 2.4.7
gettext enabled
mysql Ver 14.14 Distrib 5.5.47
0 codeigniter knowledge/experience
unmark extracted to /var/www/html/unmark

unmark.site.net.conf
[code]

Why can't i get unmark working?
1. downloaded lastest zip, 1.7.11 and extracted to /var/www/html/unmark
2. chown -R www-data:www-data /var/www/html/unmark
3. created db and db user, granted db user permissions to

[2016-10-07 17:28] cdevroe commented on #176
@tulkraykja46jdg
Why would you try to load the cronjobs file?

Try /setup

[2016-10-07 17:39] tulkraykja46jdg commented on #176
@cdevroe

Just to see if anything loads under unmark.site.net, as i said it was an example, unmark.site.net and unmark.site.net/setup just loads a blank page.

[2016-10-07 18:00] cdevroe commented on #176
Update index.php and have the "environment" variable set to "development" then run /setup and then give us the files in /application/logs

[2016-10-07 18:15] cdevroe commented on #176
Also, can you make sure in the Unmark root that you have a .htaccess file? If not: Use this one

https://raw.githubusercontent.com/plainmade/unmark/master/.htaccess

[2016-10-07 18:21] tulkraykja46jdg commented on #176
i already tried by changing production logging to "4".
But changed index.php to development, and here's what you asked for:
[code]
Yes i have .htaccess
[code]

[2016-10-07 18:22] cdevroe commented on #176
Setup screen still white? I don't see any errors.

[2016-10-07 18:25] tulkraykja46jdg commented on #176
yep, still white/blank.

[2016-10-07 19:01] tulkraykja46jdg commented on #176
any ideas?

[2016-10-08 04:34] tulkraykja46jdg commented on #176
You can close this as i've fixed it now, edited some of the php, also edited some code to allow username instead of email as this will be selfhosted for myself only, don't need the email functionality etc.

[2016-10-08 04:34] #176 closed

[2016-10-08 15:25] cdevroe opened #177 ".htaccess file missing from 1.7.1.1 binary"
Leaving new installations stranded.

[2016-10-08 15:25] cdevroe commented on #176
"Edited some of the PHP" ??

It would be great if you could share what you needed to change in order to get Unmark working for you. Thank you.

[2016-10-08 15:54] cdevroe commented on #175
This was related to me upgrading to macOS Sierra and PHP's default upload size setting being far too small. Will add a note to Readme so people don't hit this same trap.

Namely:
upload_max_filesize = 500M

[2016-10-08 15:54] #175 closed

[2016-10-08 16:15] #177 closed

[2016-10-12 16:18] cdevroe opened #178 "Release build routine enhancements"
Running 'grunt release' will move all release files to /release/unmark. I have the compress grunt task dependency but I've run into two issues that I am marking down here so I don't forget to do them. But if someone else wants to clean this up I'd appreciate it.
- [x] Add "clean" routine to delete everything in /release/unmark prior to the copy task running
- [x] Fix compress task so that the resu

[2016-10-12 18:45] cdevroe commented on #178
#hacktoberfest

[2016-10-12 18:47] cdevroe opened #179 "Upgrade app to latest CodeIgniter"
Unmark is currently on 2.x it'd be great to go to 3.x

[2016-10-12 18:51] cdevroe commented on #178
Btw, this is only applicable to 1.7.2 which is PR #173

[2016-10-12 20:00] iamonuwa commented on #179
Converted Unmark to 3.x

[2016-10-12 20:01] cdevroe commented on #179
@iamonuwa Did you submit a PR? That'd be fantastic.

[2016-10-12 20:23] iamonuwa opened #180 "Add codeigniter base_url method to allow all pages load with assets"
I discovered that the pages are broken (ie. either it shows a 404 error or the assets does not load)

[2016-10-12 20:29] iamonuwa commented on #179
Am submitting a PR now

[2016-10-12 20:57] iamonuwa commented on #179
@cdevroe why use the Plain_ subclass prefix? The app is fully functional with Codeigniter version 3.x system/core files

[2016-10-12 21:50] cdevroe commented on #179
@iamonuwa The Plain_ prefix is because that is our company name.

[2016-10-14 17:41] kyleruane commented on #174
[ ] Hide sidebar unless editing mark

[2016-10-17 20:51] neopostmodern opened #181 "Suggested nginx config not working on Ubuntu 16.04 + nginx 1.10 + PHP7.0"
I was getting a blank page and 200 for everything.

After adding the following line [as suggested on StackOverflow somewhere](http://stackoverflow.com/questions/15423500/nginx-showing-blank-php-pages#comment34043553_15424808) I got it to work:

    fastcgi_param SCRIPT_FILENAME $document_root/$fastcgi_script_name

Not sure if this is necessary for all versions, but maybe add a hint?

[2016-10-17 21:01] neopostmodern commented on #163
I reproduced this on Ubuntu 16.04 I think. Fresh install. MySQL 5.7.15
[phpinfo().txt](https://github.com/plainmade/unmark/files/534702/phpinfo.txt) (not allowed to upload as `.html`, rename yourself)

[2016-10-18 14:19] cdevroe commented on #163
@neopostmodern I believe this bug is squashed in latest release. If you're still getting it you'll need to share your log files with us.

[2016-10-18 14:20] cdevroe commented on #181
@neopostmodern Perhaps you can suggest an update for the Readme?

[2016-10-18 14:51] neopostmodern commented on #181
Will do. Maybe someone with proper nginx knowledge could comment if that could be added to the default config or if it's platform specific?

[2016-10-18 17:43] neopostmodern commented on #163
@cdevroe Trying... In `index.php` I set
[code]
Then hit `/upgrade` and get
[code]
but `application/logs` shows no entries. `/var/log/nginx/error.log` empty, `/var/log/php7.0-fpm.log` contains nothing related. Where else to look?

[2016-10-19 18:22] moltenkaizen commented on #181
Tested on Ubuntu 16.04 and saw the same behaviour you described (200OK with blank page)

Then I added your suggested line to the nginx config and unmark loaded right up
`fastcgi_param SCRIPT_FILENAME $document_root/$fastcgi_script_name;`

I've also tested this line works as well:
`fastcgi_param   SCRIPT_FILENAME     $request_filename;`
<http://serverfault.com/questions/502776/what-is-the-correct-s

[2016-10-19 19:56] neopostmodern commented on #181
I also just recognized the following:

[code]

and further

[code]

...which basically says that there is another file (`fastcgi.conf`) that includes the required line.

Researching if this was safe to use, I found [this blog entry](https://blog.martinfjordvald.com/2013/04/nginx-config-history-fastcgi_params-versus-fastcgi-conf/):

Long story short, maybe it's a better fix to change the inclusion.

[2016-10-19 20:36] moltenkaizen commented on #181
Very interesting, I see that's the only difference between those files. I see what you mean on my Ubuntu 16 as well.

I'm also comparing that to Ubuntu 14.04, I don't have a fastcgi.conf. But their fastcgi_params already had the line
`fastcgi_param	SCRIPT_FILENAME		$request_filename;`
which seems to work like
`fastcgi_param  SCRIPT_FILENAME    $document_root$fastcgi_script_name`

Changing the incl

[2016-10-19 21:41] neopostmodern commented on #181
Proposal, to be included right below the sample code:

[2016-10-19 22:35] moltenkaizen commented on #181
@neopostmodern Looks great to me. I'd make a very minor tweak

`grep SCRIPT_FILENAME /etc/nginx/fastcgi_params`
Just a touch more concise

@cdevroe thoughts?

[2016-10-26 00:03] bryce-admin opened #182 "Feature request: Looser interpretation of tags."
I've noticed that using freeform tags ("This is #sometag, this is #anothertag, and this is me embedding a #tag at the end.") has a subtle problem.  The problem occurs when the user clicks on a tag with some punctuation immediately following it (e.g., "#sometag") Unmark returns the "The URI you submitted has disallowed characters" error.

Would it be feasible to loosen interpretation of tags to ign

[2016-10-28 15:28] cdevroe commented on #182
@bryce-admin I like where this is going. However, in the 1.8.x line of Unmark we'll be introducing a dedicated "tags" input area that will work much more like a traditional tag input like you see elsewhere. So this issue you're having will go away.

[2016-10-28 18:23] bryce-admin commented on #182
Will there be a migration path for this feature (i.e., would #tags in existing bookmarks be copied into it), or would it be an "every bookmarks following that upgrade will have it" sort of thing?

[2016-10-28 19:04] cdevroe commented on #182
@bryce-admin All tags are already stored in a tag index... they are not only managed via that text area. So yes, they will all come along for the ride.

[2016-10-29 20:40] gameame commented on #163
I can reproduce this bug starting unmark in a Docker container with docker-compose using as db the standard image [mysql](https://hub.docker.com/_/mysql/), which is mysqld 5.7.16.
The setup finishes correctly with image `mysql:5.6` (mysqld 5.6.34).

[2016-10-30 13:03] cdevroe commented on #163
@gameame Good catch.

I wonder how we can go back in and make it backwards compatible (and forwards compat) for mySQL. I'd have to do some research there. cc @neopostmodern

[2016-10-30 13:52] neopostmodern commented on #163
So, in the end I managed to solve this! For me at least, because the back- and forward compatibility will have to be figured out by someone who actually understands mySQL.

I basically added one `default current_timestamp` and dropped a bunch of `default \'0000-00-00 00:00:00\'`.
This is a diff of what I did:
[code]

*This only fixes the setup. It's still not actually working (after login) but I'l

[2016-10-31 06:07] skeith commented on #163
I got the same error

- cloned the repo
- Ubuntu 16.04
- MySQL 5.7.16, PHP 7.0.8

[2016-10-31 07:32] gameame commented on #163
@neopostmodern the first line of your diff is missing. To which file is it referred?

If anyone is confident with docker, I set up a docker-compose configuration: https://github.com/gameame/docker-unmark
It's very handy to test database and php compatibility.

[2016-10-31 08:28] gameame opened #184 "Handle long titles"
When I try to add a link with a long title, Unmark raises a database error:

I tested this through the bookmarklet. I could't test the Chtome extension because I have a local installation and didn't find a way to customize the installation url.

You can easily test this issue on most GitHub repos (eg https://github.com/Kickball/awesome-selfhosted) because it appears that GitHub puts also the descr

[2016-10-31 10:51] neopostmodern commented on #163
@gameame Sorry, bad copy-paste. Just looked it up manually and it must be `/var/www/unmark/application/migrations/002_archive_stats.php`. I have zero knowledge of Docker though.

[2016-11-08 23:18] gyger opened #185 "Import del.icio.us bookmarks correctly"
I tried to import the delicious bookmarks, the tags are all stored as one hashtag if the words are not separated by a tag+comma + space+tag, but only by tag+comma+tag.

The structure looks like
[code]

Additionally the <DD> line is ignored.

A good solution would be to add the DD to the text comment of the imported entry and add the hashtags in the line below.

[2016-11-13 19:50] jamesacampbell commented on #120
Im looking for a way to use the API to generate a summary of tagged bookmarks for the week that I can generate and email from and send to my team as a 'suggested reads' list. I already do this with Pinboard, but trying to port everything over to unmark and get rid of my last non-self-hosted service. Any help would be much appreciated. Cheers.

[2016-11-13 20:02] jamesacampbell opened #186 "marking bookmarks as public"
I want the ability to make a set of bookmarks I tag a specific tag or tags as public so I can access them / use a script to grab them without having to be redirected to my login screen. If this is already implemented apologies.

[2016-11-15 14:45] r0bbie commented on #122
Completely understand this being low priority at the moment, but just wanted to +1 that I'd love to see this feature. :)

[2016-11-27 17:57] ccov commented on #163
I've managed to work this out in 5.7.13 with `sql-mode=""`
More info here:
http://stackoverflow.com/questions/36882149/error-1067-42000-invalid-default-value-for-created-at

[2016-12-06 23:36] virtadpt opened #187 "Bookmarklet sometimes stores new entries without descriptions."
From time to time (out of ten or fifteen usages every day, two or three of them) the bookmarklet creates a new link in a self-hosted Unmark instance which does not have any notes if they were entered initially.  This happens when already logged into my Unmark instance or not (the new window asks me to log in first).  This happens on Firefox v49 (64-bit) on Linux and Chrome 54.0.2840.98 (64-bit) on

[2016-12-12 23:23] weaktyper opened #189 "Login difficulty"
Hi, this library looks good. 🌠

After running setup and register, I'm having a few problems though

1. Login - getting an error
[code]
I can see the user is entered into the database though.

2. Can't find logs.

- tried to set to development mode in `./application/config/environment.php`
- but no logs appear in `./application/logs` -- only see a `./application/logs/index.html` file in there.
- al

[2016-12-14 00:09] weaktyper commented on #189
I finally got the logs working after changing some permissions in `./application/logs/`, they don't really reveal much going wrong though (as far as I can see):
[code]

I'm still getting the json response below when trying to login after registration.
`"GET /json/auth/error HTTP/1.1" 403`
[code]

[2016-12-14 13:26] weaktyper commented on #181
@neopostmodern
did you get this working in the end?

[2016-12-14 13:34] neopostmodern commented on #181
Doing [this](https://github.com/plainmade/unmark/issues/181#issue-183524198) enabled me to access the site, but [this SQL issue](https://github.com/plainmade/unmark/issues/163) remains and I'm reluctant to change all the modes.

This issue was really all about changing the documentation.

[2016-12-14 13:38] weaktyper commented on #180
I'm also seeing this in the logs
[code]

[2016-12-15 18:58] mclang commented on #181
Changing `include /etc/nginx/fastcgi_params;` to `include /etc/nginx/fastcgi.conf;` worked for me.

Has anybody make pull request about the fix already?

[2016-12-16 07:09] mclang commented on #181
Changing `include /etc/nginx/fastcgi_params;` to `include /etc/nginx/fastcgi.conf;` worked for me.

Has anybody make pull request about the fix already?

[2016-12-16 08:36] mclang opened #190 "Support for several users"
I'm stumbled.

I was thinking to put up my own unmark server so that whole family could create users and make some sense to their bookmark mess, but the basic installation seems to support only one user.

Is there a way around this, e.g manually creating users into the database?

[2016-12-16 09:31] mclang commented on #181
I made some changes according to new Nginx documentation.

I hope I got it right!

[2017-01-09 11:15] f-r-e-e-s-k-y commented on #190
You can add users manually in the db, but I stumbled upon a "register" view in the file tree, which seems to be the official way. So all you need to do is open your browser and point it to _https://your-unmark-installation-url_**/register**

[2017-01-10 11:44] mclang commented on #190
Thanks, this works!

[2017-01-10 11:44] #190 closed

[2017-01-14 13:22] papernoise opened #191 "Cannot find "/setup""
I'm trying to install unmark, but I'm stuck at this step:

There's no such thing as "/setup" and typing in BASE_URL/setup (where BASE_URL is where I am installing unmark) will just say "not found".

But maybe I'm getting something wrong...

[2017-01-14 13:30] papernoise commented on #191
Oh just saw that it's been asked previously and found a solution (sorry I was searching it the wrong way, not very experienced in Git yet).

[2017-01-14 13:30] #191 closed

[2017-01-20 23:06] adri66 opened #192 "/setup No database connection settings were found in the database config file."
Hello, I'm try to install unmark but can I run setup, the page return

After edit line 42 on system/database/DB.php `include($file_path);` to `include $file_path;`
It's work fine

[2017-01-20 23:08] adri66 commented on #192
And for install the correct url is /install/setup and no /setup

[2017-02-01 17:13] weaktyper commented on #189
Ok, I came back to this after a few months.
I discovered the issue.

A problem arises with the session handling in PHP_FPM 7.1.  More can be read about it at the two links below:

- https://github.com/bcit-ci/CodeIgniter/issues/4830

I'm going to close this issue now and reopen one for php 7.1.

[2017-02-01 17:13] #189 closed

[2017-02-01 17:14] weaktyper opened #193 "Session bug with PHP 7.1"
I couldn't login due to a 403 error on PHP_FPM 7.1

The issue is related to cookie sessions.

More can be read here:

- https://github.com/bcit-ci/CodeIgniter/issues/4830

Changing to PHP_FPM 7.0 fixes the issue.

[2017-02-09 04:20] beaglie opened #194 "Feature Request: Keyboard shortcut for Update & Close in bookmarklet"
When using the bookmarklet I've found that when I'm adding a comment, a keyboard shortcut (like CTRL-ENTER) would be a really handy way to "Update & Close" the bookmarklet window and continue on.

Of course I can (and have to) grab the mouse to click the button, but since the fingers are on the keyboard it be nice to be able to use a keyboard shortcut before moving back to the mouse.

[2017-02-09 10:31] weaktyper commented on #193
There are other bugs with  PHP_FPM 7.0
 PHP_FPM 5.6 --> this is the latest version i could get up and running.

[2017-02-09 12:53] weaktyper opened #195 "CSRF on the register page"
I'm getting the following error on the register page when i set `csrf_protection` to `TRUE`
[code]

[2017-02-09 14:57] weaktyper opened #196 "Ability to add tags to bookmarks"
Does anyone know if it is possible to

- add tags to each link
- modify tags to each link

Also, what is the difference between a label and a tag?

[2017-02-09 17:14] virtadpt commented on #196
If by that you mean "when adding a new link," the answer is yes, just hashtag them.  If you mean "after a link has been added and you're editing it," the answer is also yes (but it's a little pixel-twitchy): Click on the link's entry beneath the title but to the left of the "archive this link checkmark" button.  The link's entry will appear in the right-hand column.  Click on the "Notes (click to

[2017-02-09 17:23] virtadpt opened #197 "Less than intuitive UI/UX for opening, editing, deleting, and archiving links."
The workflow for editing a link is a little pixel-twitchy, and could probably use some improvement.  Here's how it stands right now:

- Open Unmark.
- Click on a link underneath the title but not on the "open this link" arrow button or the "archive this link" checkmark button.
- Try again a few times because it might open the saved link a few times.  This is especially prevalent on mobile devices.

[2017-02-09 20:55] weaktyper commented on #196
@virtadpt
Thanks for the reply, that helped greatly.
I can now
- add a tag
- modify tags on a link.

So about labels, what are they useful for. There are some predefined labels that don't suit my usecase, can labels be
-added or
removed ?

[2017-02-09 20:56] weaktyper commented on #197
unmark is a great open source application but I would agree, without your help I would not have figured out how to edit the links. I also believe that `delete link` would be useful.

[2017-02-09 21:06] weaktyper opened #198 "[Feature Request] Enhance usability surrounding tags"
I am enjoying the unmark application and ecosystem. Here are some suggestions that I believe could make it even better.

- Tags on display in badges under every link. (in the middle column)
- Auto-suggest as starting to type tags - when adding or editing a link. This will be especially useful to avoid adding two tags with almost the same name. Eg. `#prototype` and `#prototypes`.
- Allow to delete

[2017-02-09 21:29] weaktyper opened #199 "[Feature request] Expand search functionality"
#### Issue
Currently when using the search, only one search term is effective. If I add two space separated search terms, the search fails to work even though there should be matches.

#### Proposals
- Add possibility to search more than one term (for both title and/or tags). Eg `prototype mockup` - at the moment this won't work, I have to search `prototype` and `mockup` separately which of course

[2017-02-09 21:31] weaktyper opened #200 "Label Issues"
#### Issues
- It seems that there are many entries in the labels table after the initial application setup, many of which are not visible on the frontend and also are sort of useless. Has anyone else noticed this?
- I can't find the ability on the frontend to add, edit or delete labels.

#### Proposed solutions
- Add ability to perform CRUD on labels.

[2017-02-09 21:47] weaktyper commented on #196
closing as question about tags answered, opening separate query about issues in #200.

[2017-02-09 21:47] #196 closed

[2017-02-09 23:03] weaktyper opened #201 "Cannot bookmark certain urls using the bookmarklet"
I cannot bookmark certain urls using the bookmarklet, for example, I cannot bookmark the following url, nothing happens when clicked:
`https://github.com/plainmade/unmark/issues`.

Is there some mod for the bookmarklet to overcome this or am i missing something?

[2017-02-10 02:54] virtadpt commented on #196
To the best of my knowledge, labels cannot be added or removed.  I don't find them very useful, either, so I just ignore them.

[2017-02-10 05:50] virtadpt commented on #201
I run into this all the time, mostly involving Github URLs but also on Twitter.  It's an annoying enough problem that I have a sticky note on my desktop with a shortcut URL that I use as a workaround.

[2017-02-10 11:47] weaktyper commented on #201
@virtadpt
How does your solution work? Do you have some self-hosted shortcut url generator and you generate your ony tinyurl?

Also, is there some way I can look into a technical solution for this? Where should I look in the source code?

[2017-02-10 17:56] virtadpt commented on #201
I edited the bookmarklet and copied it into an online URL encoder/decoder.  I then extracted the exact URL the bookmarklet uses to add links to Unmark.  In my case, it looks like this:

http://unmark.myserver.example.com/mark/add?url=+

I keep that URL in a stickynote on my desktop, and whenever I run into a website that doesn't work with the bookmarklet (mostly Github) I open a new browser tab, c

[2017-02-10 21:51] weaktyper commented on #201
thanks for this tip, this works ok.
I made a slight enhancement to the workflow which was to make a bookmark with location `https://unmark.codinghere.com/mark/add?url=+` and then simply append the previous hyperlink. Almost the same as what you do except I don't need the sticky note.

[2017-02-10 21:51] #201 closed

[2017-02-10 21:52] weaktyper commented on #200
As labels seem to be superfluous to my requirements, I deleted all labels except the `unlabelled` label by sending a sql query directly to the database (before any links were added).

[2017-02-10 21:52] #200 closed

[2017-02-23 07:23] ysragh commented on #193
I'm also on 7.0 and have no issues with PHP itself, but with MySQL. Probably that's your problem too.
php -v gives me:

    [yzzi@ysragh.com htdocs]$ php-fpm7.0 -v
    PHP 7.0.13-0ubuntu0.16.04.1 (fpm-fcgi)
    Copyright (c) 1997-2016 The PHP Group
    Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
        with Zend OPcache v7.0.13-0ubuntu0.16.04.1, Copyright (c) 1999-2016, by Zend

[2017-02-23 15:15] cshort commented on #193
@ysragh I had the same MySQL issue, but there's still an issue with it and PHP 7.  I haven't had the time to investigate, but since upgrading all I see is a blank page and I'm not getting anything in error logs.

Prior to the fix you mentioned I was getting a 500 error.

[2017-02-24 09:00] ysragh commented on #193
Weird, good thing I'm still on 7.0 and haven't upgraded to 7.1 yet. Hopefully the maintainers keep up with the issues and merge requests :)

Have you tried downgrading to PHP 7.0, @cshort ?

[2017-02-26 21:11] chepec commented on #198
Agree completely with @weaktyper on points 1 and 2:

And something along a tag cloud (bullet point 5 above) would be awesome.

I just installed and tested unmark (coming from self-hosted lobsters), and I like unmark much better so far, but miss the overview of all tags.

[2017-03-09 12:44] ct2000 opened #203 "Unable to Login - 1.7.1.2"
I seem to unable to login after setup - user is created but I get white tick and loop back to login screen.  logs do not indicate an error.  - on version  1.7.1.2

[2017-03-10 11:57] mazedlx commented on #193
Same problem here, CI 3.1.3 has problems with sessions when using PHP 7.0 and PHP 7.1. Switched PHP-FPM back to 5.6, everything works fine.

Using NGINX 1.4.6 on Ubuntu.

[2017-03-23 18:51] jflatz opened #204 "Installing unmark in a sub directory"
I'm attempting to install Unmark in example.com/GitHub/unmark however /setup is 404 and assests are being directed to example.com/assets/ instead of example.com/GitHub/unmark/assets/

[2017-03-29 07:22] zsuiram commented on #203
Same here. Tried with PHP 5.6/7.0/7.1 - no luck.

[2017-03-31 21:16] petrk94 commented on #203
I just installed it on my VPS hoster Uberspace and dont have a problem, can you show what you mean?

[2017-03-31 21:21] petrk94 opened #205 "VPS, unmark booklet and Chrome Extension"
Hello,
I have a little problem with the usage configuration.
Im running successful the unmark installation on my VPS at Uberspace. And when I try to open the unmark booklet, than I get the IP adress of the Shared server and cant use it.
The other question is the Chrome Extension. I dont have seen yet an option how to connect the Chrome Extension with the own installation.

See Screenshot:
![unmark

[2017-04-27 14:01] chepec commented on #205
Regarding your second question (pointing the Chrome extension to your self-hosted instance), [see this guide](https://computers.tutsplus.com/tutorials/host-your-own-bookmarking-webapp-with-unmark--cms-21385). I'll include parts of the text below just in case the page disappears (but the guide is nicer, also has descriptive screenshots).

First, download the extension files from its GitHub reposito

[2017-04-27 14:09] chepec opened #206 "Problems with list UI: Ctrl-F (in browser) not working as expected"
When the list of links is long, the way it is loaded(dynamically, somehow) does not work well with the browser's in-page search function (tested both Chrome and Firefox). In short, if the search text is not yet visible on the screen, the in-browser search function finds no matches (although the text exists in the title of a link item further down the list). This is not the expected behaviour.

Yes

[2017-04-27 14:10] chepec opened #207 "Problems with list UI: duplicates"
First, a big thank you to all involved in this project. Very nice to be able to save links for later on a self-hosted service. I've been using it for the last couple of months, and one problem stands out.

For no apparent reason, several links appear twice (at least) in the main list, although I definitely added them only once (using the Chrome extension). Finding the duplicates is made all the mo

[2017-04-27 14:45] walialu opened #208 "Hand over project or grant another dev access?"
Could you think of handing over this project or granting one or two devs access, so they can accept merge requests and fix bugs? Seems like you're pretty busy and the development seems to have stalled somehow, which is okay to me, but I really like this project and I really want this to succeed.

So what are you thinking about granting one or two other devs access, or handing it completely over?

[2017-04-27 16:03] m1guelpf commented on #208
I would like to offer me for mantaining this project :smile:

[2017-04-27 16:24] cdevroe commented on #208
@ysragh @m1guelpf I am going to be picking up this project again in earnest within a week or so. And I'd love more help to clean up many things!

I somehow need to figure out a way to select some people to help. We can likely start using PRs. I'll be going through those within the next two days.

Really appreciate the help.

Also, unmark.it is down and will be coming back online shortly as well an

[2017-04-27 16:28] m1guelpf commented on #208
@cdevroe Would be cool to have a roadmap, so people know what they can help at...

[2017-04-27 16:29] cdevroe commented on #208
@m1guelpf We will work on one and likely put them in milestones. Likely starting with 1.9 as 1.8 is fairly close to completion.

[2017-04-28 01:09] virtadpt commented on #207
I encounter the duplication issue quite frequently - almost every time I acces my Unmark installation to find something.  Most of the time I encounter it in the context of scrolling through my timeline of links - after

I don't use the Chrome extension because it can't be retargeted without recompiling it.  I use bookmarklets exclusively to store links.  Going through the database dumps, I see no

[2017-04-28 12:45] cdevroe commented on #208
Attn: I've now taken ownership of this project. I'll be working on it in earnest starting today. Watch for falling rocks for a week or so while I clean everything up. Any help is appreciated ... I'll be making a list of what I need soon.

@ysragh @m1guelpf

[2017-04-28 12:47] m1guelpf commented on #208
Cool, please ping me when it's done so I can help!

[2017-04-28 13:36] ysragh commented on #208
Count me (also) in, when it comes to helping, @cdevroe .

/cc @m1guelpf

[2017-04-29 00:05] cdevroe opened #209 "ROADMAP for May 2017"
Hello all,

Thanks for your patience. I started a new job and have been working really hard there for months getting all new processes, team, and business model set up.

I now would like to start spending quality time bringing Unmark back from relative dead (though, thousands use the free hosted service).

Roadmap for May 2017
- Release #173 (scope locked, just want to fix any bugs and get out the

[2017-04-29 00:08] cdevroe commented on #199
@weaktyper Great suggestion.

[2017-04-29 00:09] cdevroe commented on #205
@chepec Thanks for answering this question. 🍺

[2017-04-29 00:09] #205 closed

[2017-04-29 00:10] cdevroe commented on #206
@chepec Do you mean that due to pagination the in-browser search function does not work? Or, that even if the title of the mark is shown in the list that Chrome cannot find the list item?

[2017-04-29 00:12] cdevroe commented on #207
@chepec @virtadpt Do you only find duplicates using the omnibox search feature in the Chrome Extension? Or, do you see duplicates within Unmark app?

Also, if you could get a duplicate to happen and then export your marks into a JSON file and either send them to me privately or put them here I'll be able to troubleshoot the issue.

Site note: I've used Unmark for years and have never seen a duplic

[2017-04-29 00:12] cdevroe commented on #207
@chepec @virtadpt Oh, also, please provide version of Unmark you're running.

[2017-04-29 00:13] cdevroe commented on #197
@virtadpt @weaktyper Have you tried version 1.8.0? Try that branch and let me know what you think of our new way of editing links.

[2017-04-29 00:15] cdevroe commented on #187
@virtadpt The notes feature is sent asynchronously to Unmark. If at all possible, could you capture your Console and the HTTP Request that fails when this happens?

[2017-04-29 00:21] cdevroe commented on #203
@ct2000 @zsuiram I've seen many stumble into this because they didn't run migrations. But as @petrk94 Can you give us more information? Perhaps looking in your logs?

[2017-04-29 00:22] cdevroe commented on #204
@jflatz I have never tried to install Unmark in a sub-directory. If you do a search in the issues you'll see many have done so successfully. So please look through those issues to find some things you can try.

[2017-04-29 00:22] #204 closed

[2017-04-29 00:23] cdevroe commented on #195
@weaktyper Any idea why this would be or how we can fix it? Feel free to submit a PR.

[2017-04-29 00:24] cdevroe commented on #193
@mazedlx @cshort @ysragh @weaktyper Once we get to 1.8 released we'll work on updating Code Igniter to the latest version which should support the latest version of PHP.

[2017-04-29 00:26] cdevroe commented on #192
@adri66 I have never seen this issue... also, the file you edited is a system file within CodeIgniter so my guess is that your issue is only on your environment.

(If I'm wrong on this, please someone let me know.)

[2017-04-29 00:26] #192 closed

[2017-04-29 00:26] cdevroe commented on #184
@gameame Agreed. Rolling this into 1.8.1 to have as an adjustment.

[2017-04-29 00:29] cdevroe commented on #186
@jamesacampbell We've been asked about this sort of feature in the past. Sort of like "collections" that could be shared ala Readability or other services.

At this time we do not plan to add any "public" facing piece to Unmark. We prefer to keep all user data (and their content) private and siloed.

Sorry to burst your bubble here and thanks for giving Unmark a try.

[2017-04-29 00:29] #186 closed

[2017-04-29 00:50] jamesacampbell commented on #186
Totally understand. Thanks

[2017-04-29 08:40] weaktyper commented on #199
@cdevroe
The other idea in mind for search was to use Postgresql which has some nice inbuilt search features and might avoid complicating the stack by adding yet another service. The only problem is I don't think I have the capacity to contribute for the foreseeable future.  :sob:

[2017-04-29 08:40] weaktyper commented on #195
Hi @cdevroe .... I really don't know. I'm not a PHP developer so it would take me more time to develop on unmark. I have been using unmark every day since I installed it 2 months ago - it is exactly as I was looking for.

I know I opened a few issues here without contributing - unfortunately, due to not knowing PHP and also due to being quite busy (for the next year at least), I won't be able to c

[2017-04-29 10:59] m1guelpf commented on #209
@cdevroe Thank you!
Could you please drop me an invite for Slack at the email in my GitHub profile?
Thank you!

[2017-04-29 14:35] m1guelpf commented on #195
@weaktyper Definitely, the docker integration would be a great idea, at least for development enviroments.

[2017-04-29 17:13] chepec commented on #206
Yes, pagination. Using the in-browser search works fine as long the title is visible on the screen or has been "scrolled past" during the current session (as far as I can tell).

And this is what disturbs me from a user experience point of view. It causes the in-browser search to work very inconsistently (effectively depending on how far I've happened to scroll) and this leads to all kinds of conf

[2017-04-29 17:45] chepec commented on #207
On the server I'm running Unmark 1.7.1.2 (the latest release). In my browser (Chrome, latest stable) I'm running the Unmark extension v1.0.1 (which I use for adding new marks). My desktop runs Debian 8.7 with Gnome. I can observe the same duplicates (as far as I can tell) in both Chrome and Firefox.

I can see multiple cases of duplicates in my list of entries in the Unmark app. I exported all ent

[2017-04-29 19:25] virtadpt commented on #207
On my server I'm running v1.7.1.2, on top of PHP v5.6 and MySQL v5.6.34.

I do not use the Chrome extension; I do not use Chrome or Chromium, and retargeting the extension to my instance would require a rebuild, which I do not have the skill to do at present.

I see the duplicates when I use the app itself through my web browser.

The next time I see a duplicate I'll export my bookmarks.  Where co

[2017-04-29 19:26] virtadpt commented on #197
I have not.  Let me figure out how to install it on my current instance...

[2017-04-29 19:26] virtadpt commented on #187
I'll give it a try the next time it happens.

[2017-05-05 18:09] IronTooch opened #210 "Unmark Setup not loading (HTTP: 200) on Ubuntu 16 with Nginx/PHP7"
So currently Unmark is showing a blank page when loading  with HTTP status 200. This is similar behavior to  https://github.com/cdevroe/unmark/issues/143.

Setup:
Ubuntu 16.04 LTS on LXC container (Proxmox)
Unmark is located at /opt/unmark/

What seem to be relevant config files and data below:

========================================
Nginx Config (Unmark.conf, symlinked in /etc/nginx/sites-enabl

[2017-05-16 12:06] GaneshKandu opened #211 "How To Install Unmark In SubDirectory ie. mydomain.com/subdir/"
Hi

Getting 404 Error For all Javascript and css files when i access url on My Browser, working in Root
but i want to install in sub directory **ie**. _mydomain.com/subdir/_

[2017-05-24 03:21] virtadpt opened #212 "External search API"
How difficult would it be to add a feature such that the admin could plug a different search mechanism (like Lucene or YaCy) into an Unmark instance to improve search?

[2017-06-01 00:50] cdevroe opened #213 "Modals don't animate on first click"
When modals are open, such as the the change password modal, it doesn't animate the first time but it does the second time.

[2017-06-01 00:57] cdevroe opened #214 "Show no results message for search results that come up empty"

[2017-06-01 01:15] cdevroe commented on #212
@virtadpt I have not used those two search products. So I do not know.

[2017-06-01 01:18] cdevroe commented on #209
Hello all,

It looks like we're going to run a bit behind on launching 1.8. It will likely be this weekend when we switch hosts.

[2017-06-09 02:14] PeterXQChen commented on #210
I dont think Unmark works with PHP7+. V1.8 is supposed to fix this.

[2017-06-09 12:16] emkae commented on #212
Pretty easy when it comes to Lucene!

[2017-06-12 14:52] cshort commented on #193
@emkae been awhile, but the server I have it on is only 7.0 and not 7.1

[2017-06-25 15:17] GotExx opened #215 "Error 1055 after install"
Hi,
After entering the fields email and password I receive a error 1055.
`
A Database Error Occurred

Error Number: 1055

Expression #1 of ORDER BY clause is not in GROUP BY clause and contains nonaggregated column 'umarks.user_marks_to_tags.user_marks_to_tag_id' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by

SELECT user_ma

[2017-07-23 15:43] smth commented on #163
I just got this error with a fresh install on OSX.

`logs` contained:
[code]

[2017-08-06 22:04] smth commented on #112
So I should already be seeing an option to import from browser? I have 1.7.1.2 installed, and only see "Unmark file" and "Readability file".

[2017-08-06 22:49] smth opened #216 "UI suggestion - More prominence for search / tags"
I think the priorities are a little off, when it comes screen space. As a small first step, I suggest that the search / tags panel is visible when either the "All marks" or "Archive" tabs are active. This will give easier access to these tools, as well as making the navigation more consistent. To compensate for this, the right most column could be removed from the default view; it doesn't really c

[2017-08-07 17:24] cdevroe commented on #216
@smth Have you reviewed ? https://github.com/cdevroe/unmark/tree/proposals/version-1.8

[2017-08-07 23:26] smth commented on #216
No. Are there changes in this respect?

[2017-09-17 16:37] cdevroe commented on #163
This issue still exists for some. So I'm working with some that is still having this issue and going through and adjusting the old migrations files.

[2017-09-17 16:37] cdevroe commented on #163
I will likely do a small point release to handle this.

[2017-09-17 16:47] cdevroe commented on #163
This is going to be addressed in 1.7.1.3. During this we've also identified other issues that some may run into using mySQL straight out of the box with macOS. I'll create a new issue for those things though.

[2017-09-17 16:50] #163 closed

[2017-09-18 14:12] cdevroe commented on #215
@GotExx We were able to fix this in version 1.7.1.4. Please pull that release and try again. Thank you.

[2017-09-18 14:12] #215 closed

[2017-09-19 15:08] cdevroe commented on #203
@ct2000 Please try the latest release.

[2017-09-19 15:12] #118 closed

[2017-09-19 15:12] #172 closed

[2017-09-19 15:17] cdevroe commented on #112
@smth Upgrade to 1.7.2 (if you haven't already using the branch) a little later today for this feature.

[2017-09-19 15:20] #216 closed

[2017-09-19 15:28] cdevroe commented on #212
@walialu Is this a worthy effort? I have just over 4,000 bookmarks in Unmark and I find searching works very well for me. But, if the community thinks this is a need we should add it to the Roadmap.

Perhaps you could spearhead that effort?

[2017-09-19 15:29] cdevroe commented on #209
Best laid plans.

1.7.2 is now out the door and we're very happy about that. All relevant updates will trickle into the 1.8 branch today. We're going to work hard to get that prepared for launch as we use it day-to-day and love it.

[2017-09-19 15:29] #209 closed

[2017-09-19 15:30] cdevroe commented on #210
Also, while some Unmark users are using NGINX we do not fully support it. If you're using it, please ask others in the community that do as well for fixes to issues.

@PeterXQChen Version 1.8 will not address PHP 7+. However, 1.8.1 very likely will. I'd love some help!

[2017-09-19 15:31] cdevroe commented on #211
TENTATIVE

I would like this functionality as well. And we may work on this in 1.8.1

[2017-09-19 15:32] #38 closed

[2017-09-19 15:32] #112 closed

[2017-09-19 15:32] #136 closed

[2017-09-19 15:32] #138 closed

[2017-09-19 15:32] #159 closed

[2017-09-19 15:32] #171 closed

[2017-09-19 15:34] cdevroe commented on #207
@chepec @virtadpt Is this still an issue in 1.7.2? Please let us know. Also, if you could, look at the database directly to see if the marks seem to be duplicated.

I wish I would replicate this issue but I've simply never seen it.

[2017-09-19 15:35] cdevroe commented on #208
@walialu @m1guelpf Would you two be willing to have a Skype conversation to discuss our Roadmap and collaboration? If so, please email me at colin [at] cdevroe.com and we can set up a time. Thanks!

[2017-09-19 15:35] #208 closed

[2017-09-19 15:39] cdevroe commented on #195
@m1guelpf Perhaps we should have a separate issue for Docker? Because I think that would help a lot.

[2017-09-19 15:39] #195 closed

[2017-09-19 15:40] cdevroe commented on #194
This would be great. I agree.

[2017-09-19 15:41] cdevroe commented on #197
Let's keep this discussion going but please around the 1.8 design. @virtadpt Have you given it a try?

[2017-09-19 15:48] cdevroe commented on #193
@walialu I _believe_ the mySQL issue with sql_mode should be fixed in anything after 1.7.1.4. Could you see if that is true?

[2017-09-19 15:48] #180 closed

[2017-09-19 15:53] cdevroe opened #217 "Bug: Scroll bars on macOS"
macOS shows odd scrollbars. This can be adjusted in System Preferences > General but perhaps we can mitigate the issue in some way using CSS?

[2017-09-19 15:53] cdevroe commented on #178
The build routine works in anything post 1.7.2 but I would still like to add the above.

[2017-09-19 15:54] cdevroe commented on #185
@gyger Would you mind trying this again in 1.7.2?

[2017-09-19 15:55] cdevroe commented on #132
@crsaracco Please give the 1.8 branch a try when you have time to see if you prefer this new design.

[2017-09-19 16:17] cdevroe commented on #174
- [ ] Edit Mark title

[2017-09-19 16:30] cdevroe commented on #187
@virtadpt Still an issue?

[2017-09-19 16:48] virtadpt commented on #187
Yup. Happens about 50% of the time on both Chrome and Firefox.

[2017-09-19 16:51] virtadpt commented on #197
Not yet.  I updated to 1.7.1.3 two days ago (just after its release).  I'm at work so I can't update to 1.7.2 because I can't SSH out.

[2017-09-19 16:52] virtadpt commented on #207
Will give it a try and advise.

[2017-09-19 16:52] cdevroe commented on #187
So you put in notes and they don't save? We'll have to try to fix this. I have never experienced it but perhaps there is an issue. Maybe you can make a screencast video?

[2017-09-19 17:16] virtadpt commented on #187
That's about the size of it.

I can take a crack at it tomorrow evening, I'm booked for an all-nighter at work tonight and might not have the compute cycles to try to record it.

[2017-09-19 18:11] walialu commented on #212
I'm pretty busy right now (until the end of the week), because we a colleague from France over here in Germany, but I'll just "bookmarked" this thread so I don't loose track of it and see if I can put together a working example with Apache Solr / Lucene.

[2017-09-20 23:37] sogen opened #218 "Screenshot?"
Are there any screenshots of this app?

[2017-09-21 14:28] cdevroe commented on #218
@sogen Here is what 1.7.x looks like:

<img width="1400" alt="screenshot 2017-09-21 10 27 51" src="https://user-images.githubusercontent.com/19237/30701178-9dc77950-9eb7-11e7-815c-035a97b54044.png">

And here is what 1.8.x will look like:

<img width="1403" alt="screenshot 2017-09-21 10 28 20" src="https://user-images.githubusercontent.com/19237/30701198-a9a521fa-9eb7-11e7-8601-cd658417d53c.png">

[2017-09-21 14:29] #218 closed

[2017-09-21 14:31] cdevroe opened #219 "Setup and Migrations issues on older versions of mySQL"
While the readme states the version of mySQL Unmark prefers, some still have issue with running setup and/or migrations when trying to install Unmark due to older versions of mySQL.

I'd like to add a message on the /setup screen that doesn't let people proceed with installation unless they meet the minimum requirements.

[2017-09-23 22:44] chepec commented on #207
Thank you so much for your efforts. I upgraded to the latest release, but unfortunately I still see duplicates of some entries in the `/marks` list. I also noticed that those entries also show with duplicates in their tag listing (for example the entry `depsy` tagged with `pec` shows up multiple times both in `/marks` and in `/marks/tag/pec`).

And I checked the SQL database `marks` directly. **22

[2017-09-25 18:01] cdevroe commented on #207
@chepec Looks like a mySQL version issue. Can you confirm your mySQL version please?

[2017-09-25 19:18] chepec commented on #207
[code]

This is on Ubuntu 14.04.5 LTS, running  Apache 2.4.7 and PHP 5.5.9.

[2017-10-19 02:41] chepec commented on #163
Sorry to reopen this, but I'm getting exactly this error on a fresh unmark install on Ubuntu server 16.04.

I can report that following the exact same unmark install procedure, unmark fails with the above error on Ubuntu server 16.04, but succeeds on Debian 8.9. I did extensive tests on Ubuntu, testing both the latest release and a clone of the git repo (cleaning everything out in-between).

For n

[2017-10-29 10:12] contactek commented on #163
I run unmark on IIS (windows server 2012 R2), PHP7 and MySQL 5.7 with Workbench 6.3
I create "unmark" database using Workbench GUI...
When you click on "create a new schema..." icon (creates a new database) you will get a windows where you input the name of your database. In this case you enter "unmark" for the name. Then click APPLY button. You will get another window "Apply SQL Script to Databas

[2017-11-14 21:03] WinndyBoy commented on #203
I have the same problem with the lastest release. After setup and register complete I login with new email and password, rotating animation appears and fails to log me in. Any help or clues where to look ?

I'm running on arch, with latest versions of mysql, or mariadb... can't see any error messages

[2017-12-16 12:36] CliffHan commented on #203
I've met same problem on 1.7.2

[2018-01-08 04:31] tim6300243 commented on #203
I have the same problem with ver 1.7.2
I login with registered email and password,screen disappears and then returns to login screen.

Initial setup seems to be successful.
There was a registered email in the mysql table(users).

PC environment is as follows.
OS :Windows10
PHP:PHP7.1.12
DB :MySQL Server 5.7
Web:Nginx1.13.8

I write nginx.conf using the contents of the wiki "Nginx Configuration"

n

[2018-01-08 12:22] tim6300243 commented on #203
I can login PHP 5.6.30
I use it with PHP 5.6 until ver 1.8

Maybe this is the cause
https://github.com/cdevroe/unmark/issues/193

[2018-01-20 17:53] mpiric commented on #193
Check below link. It works fine. I had older CodeIgniter version and PHP version 7.1.2 and I faced the same issue.

Just download CodeIgniter 3 and replace "system" folder of the older version with the latest version and its work.

https://stackoverflow.com/questions/45756370/codeigniter-session-is-not-working-on-php-7/45756437#45756437

[2018-02-21 13:38] Lostapp opened #220 "Point your browser to /setup on your local Unmark domain E.g. unmark.local/setup"
Hi,
I don't have a '/setup' dir in my folder?
So I can't setup unmark......
Hope you can help me out :-)

Cheers,
Ries

[2018-03-17 21:48] CodingFrieda commented on #208
[unmark.it](https://unmark.it/) directly sends me to this [GitHub repo](https://github.com/cdevroe/unmark).

I discovered unmark today and am wondering if that is right or if [unmark.it](https://unmark.it/) was some sort of demo (like [wallabag.it](https://www.wallabag.it/) e.g.)? Does anyone have an unmark instance or a little GIF how unmark looks like? Is there an official [Docker](https://hub.d

[2018-03-17 22:05] walialu commented on #208
@codingfrieda, the docker image seems okay to me. It just pulls from plainmade/unmark which should automatically get redirected to cdevroe/unmark, because it has been legitimately handed over/transferred.

I'm on mobile right now and heading straight to bed, but can supply a little gif tomorrow, If you're still interested.

[2018-03-18 14:24] walialu commented on #193
It's gone!

[2018-03-18 14:30] walialu commented on #208
@CodingFrieda Here you have it: https://www.youtube.com/watch?v=AIP--sqlmpA

[2018-03-18 17:13] CodingFrieda commented on #208
Thanks for your efforts, @walialu! 😘

[2018-04-05 17:39] hkockerbeck commented on #220
Unmark is using [CodeIgiter](https://en.wikipedia.org/wiki/CodeIgniter), a web development framework. Frameworks like CodeIgniter (and many others) provide a mechanism called "routes".

"Routes" take the path part from the URL (like '/setup' or '/marks' or '/labels' or '/mark/edit' and so on) and connect them to the proper code parts. Because of this, the path '/setup' doesn't need to map to an ac

[2018-04-06 08:49] Lostapp commented on #220
Hi hkockerbeck,
Thanks for the reply. I'll check it out!
Cheers,
Ries

[2018-05-02 17:05] davidtessier opened #221 "Database Error 1067"
I am trying to install Unmark for the first time.
When I try to run the setup I get the following error:
[code]
My system is running the following
[code]
I have changed ownership of the unmark root folder to www-data.
I've created the database and database user account as instructed.

Any idea why I get this error?

[2018-05-23 10:19] Tuncay-Ayhan commented on #203
@tim6300243 Bingo! That was it for me!

[2018-06-22 17:39] cdevroe commented on #221
@davidtessier Looks like a migration issue. Until someone has the time to update the migrations, try this SQL file and skip the migrations step.
[unmark_2018.sql.zip](https://github.com/cdevroe/unmark/files/2128601/unmark_2018.sql.zip)

[2018-06-22 17:41] cdevroe commented on #220
@Lostapp Were you able to fix this issue?

[2018-06-22 17:44] cdevroe commented on #219
For those still having migrations issues while setting up 1.7.2 or 1.8 you can use this SQL file to get started. https://github.com/cdevroe/unmark/files/2128601/unmark_2018.sql.zip

I've been using 1.8 for nearly a year with no issues (besides some of these set up issues). I plan on rolling it out at some point in the future. Or, you can grab it from the branch.

[2018-07-09 12:57] Lostapp commented on #220
Hi Colin,

Unfortunately not. I finally went on with semantic scuttle……
Thanks for the reply though!

Cheers,
Ries

Verzonden vanuit Mail<https://go.microsoft.com/fwlink/?LinkId=550986> voor Windows 10

________________________________
Van: Colin Devroe <notifications@github.com>
Verzonden: Friday, June 22, 2018 7:41:11 PM
Aan: cdevroe/unmark
CC: Lostapp; Mention
Onderwerp: Re: [cdevroe/unmark] Po

[2018-07-26 00:37] hatzopoulos opened #222 "Support Custom Database Port Other Than 3306"
Is there a config option to use a different database connection port other than 3306?

[2018-09-17 10:31] CarolGlenn opened #223 "Guide On Xbox live 50 euro kaufen"
An Xbox 25 gift card is a great gift to give someone and to receive.you can maximally benefit from the Market Place available on Xbox Live.It Is available in 3 different versions depending on your budget. This [Xbox live 50 euro kaufen](https://www.press-start.com/de/4-kaufen-xbox-gift-card-50e-euro-raum/--)] prepaid card allows you to quickly and completely refill your virtual wallet. The activat

[2018-10-10 11:20] sigmap opened #224 "cannot login"
might be related to php 7.2

[2018-10-16 13:36] mx4k commented on #224
Can confirm the same issue with PHP Version 7.1.22.

[2018-10-16 13:48] mx4k commented on #215
I receive the same error with version 1.7.2.

[2018-10-16 13:51] mx4k opened #225 "Error Number: 1055"
After installation, when I try to login this error occurs:

[code]

I' using the latest version.

[2018-10-23 09:34] car-gli opened #226 "Cannot install neither 1.7.2 nor 1.8"
Hi,
I tried to install version 1.7.2, got database error 1067, so I tried to install unmark_2018.sql, but there also came up some errors, but at the end I had the register-screen, tried to register, but got red bar underneath, so I wanted to login, but got full of database errors on the screen. So I decided to try version 1.8.
Got the same database error 1067. This time I dropped all tables and is

[2018-10-30 17:29] tkduman commented on #184
I had the same error popped up on the bookmarklet today. I didn't test the side effects, but it seems to be working for now.

Edit your database and change marks -> title -> varchar(150) to varchar(500) or something higher.
This will allow 500 character long titles to be added. Programmatically title parameter can be checked and if it exceeds 150 characters can be cropped down to 150.

[2019-01-25 19:01] cdevroe commented on #226
@car-gli Sorry that you're having trouble setting up Unmark. Also, sorry that you haven't had anyone respond to you about your issue. My priorities have been elsewhere and I haven't so much as logged into Github in a long time.

Here are a few things you can check.

- Does PHP have mod_rewrite enabled? [Here is how to check](https://stackoverflow.com/questions/3131236/how-do-you-enable-mod-rewrite

[2019-01-25 19:03] cdevroe commented on #225
@mx4k I believe this was fixed in #215. Would you mind double checking your version?

[2019-01-25 19:04] cdevroe commented on #224
@sigmap Can you let me know what you've already tried? An error message perhaps? Have you run /install? Have you upgraded via /upgrade?

[2019-01-25 19:06] cdevroe commented on #222
Hello @hatzopoulos. I believe [this Stack Overflow thread](https://stackoverflow.com/questions/26716179/php-codeigniter-set-port-number-for-mysql-configuration#26716208) may have your answer.

[2019-01-25 19:08] cdevroe commented on #221
@davidtessier I took some time today to figure out this issue. Line 14 of Migration 002 needs to be `$this->dbforge->add_column('users_marks', array('datearchived timestamp DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP'));`

(By now, months later, you've likely solved this yourself or moved on. I'm simply adding for posterity. Also, this will be included in the next patch.)

[2019-01-25 19:08] #221 closed

[2019-01-25 19:10] cdevroe commented on #220
This issue can also happen if someone does not have mod_rewrite enabled on PHP. For that, I recommend referencing [this Stack Overflow thread])https://stackoverflow.com/questions/3131236/how-do-you-enable-mod-rewrite-on-any-os).

[2019-01-25 19:10] #220 closed

[2019-01-25 19:10] cdevroe commented on #217
I'm also seeing these in the 1.8 branch on Windows 10 Firefox 64.x

[2019-01-25 19:12] #203 closed

[2019-01-25 19:14] #193 closed

[2019-01-25 21:13] sigmap commented on #224
Things broke after switching to php 7.2
Worked fine on php 5.6

[2019-01-25 21:19] cdevroe opened #228 "Version 1.8.0 Beta Released"
A new release! Version 1.8.0 Beta has been released. There are still a few issues so I made this a pre-release. However I've been wanting to get this out into the wild to hopefully clear up a few of the problems people have been experiencing over the last year.

Please download install/upgrade and if you have issues you can report them in this thread.

https://github.com/cdevroe/unmark/releases/ta

[2019-01-28 15:55] #224 closed

[2019-01-28 20:32] #210 closed

[2019-01-28 20:36] cdevroe opened #229 "Users being logged out after a few minutes"
I _believe_ this is a known issue in the version of CodeIgniter Unmark still runs on. I'm hoping that updating to a new version will fix this.

Essentially, users are being logged out after the `$config['sess_time_to_update']` time rather than the expiration time.

[The issue is described here](https://github.com/bcit-ci/CodeIgniter/issues/154). I think. I'm not sure.

[2019-01-28 20:38] #174 closed

[2019-01-28 20:39] cdevroe commented on #217
1.8.0 fixes the issue on Firefox. Unsure about Safari.

[2019-01-28 20:44] cdevroe commented on #212
@gorillamoe Any interest in revisiting this effort? I do not know of the direct benefits (as I personally still find Unmark's searching capabilities to be adequate) but I'm more than willing to explore this.

[2019-01-28 20:46] cdevroe commented on #207
@chepec Do you still use Unmark? If so, do you still see this issue? I'd like to make sure we get this fixed.

[2019-01-28 20:47] cdevroe commented on #198
@weaktyper 1.8.0 release is out. Please take a look as some of the things you talked about may have been addressed. Not all of them have been, however, and a few of them I'm going to promote to being their own "tickets" soon enough.

[2019-01-28 20:48] cdevroe commented on #197
@virtadpt @weaktyper Please give 1.8.0 pre-release a try. Also more code updates to that coming today.

[2019-01-28 20:49] cdevroe commented on #167
This has been addressed 1.8.0

[2019-01-28 20:49] #167 closed

[2019-01-28 20:55] cdevroe commented on #187
@virtadpt Does this happen for you in 1.8.0? If so, that screencast and perhaps information from your browser console would be helpful.

[2019-01-28 21:32] cdevroe commented on #182
I'm going to close this as tags will be getting proper treatment in an upcoming release.

[2019-01-28 21:32] #182 closed

[2019-01-29 15:53] cdevroe commented on #219
Most of the issues have been resolved for migrations in 1.8.0 pre-release.

[2019-01-29 15:53] #219 closed

[2019-01-29 15:54] cdevroe commented on #228
A second beta has been released. This may be the last build before moving onto 1.8.1

[2019-01-29 16:15] chepec commented on #207
I'm sorry, I can't be of any help anymore. I moved to another self-hosted bookmarking solution.
I'm sure your efforts will be appreciated by all concerned :-)